
// 로그인 - 연수원 찾기
.trainIntro{    
    position: relative;
    z-index: 0; 
    height:100%; 
    text-align:center; 
    background: url("../img/login_splash_bg.png") no-repeat center bottom; 
    background-size: cover;
}

.trainIntro::after{ 
    display: block; 
    content:''; 
    width:100%;
    height:100%; 
    background:rgba(0,0,0,0.1);
}

.trainIntro .txtWrap{    
    position: absolute; 
    top:125px; 
    left:0; 
    z-index: 1; 
    font-size:map-get($font-size, font_32); 
    font-weight:300;
    color:#fff; 
    line-height: 45px;
    letter-spacing: -1.44px; 
    width: 100%; 
    padding:0 30px; 
    text-align: left;
}

.trainIntro .btmBtn{
    position: absolute; 
    bottom:32px;
    left:0; 
    z-index: 1; 
    width: 100%;         
    padding:0 30px;
}

.trainIntro .btmBtn li+li{ margin-top:9px;}

.trainIntro .btmBtn .btn{
    position: relative; 
    z-index: 1; 
    font-size:map-get($font-size, font_16); 
    color:rgba(0,0,0,0.8); 
    line-height: 54px; 
    letter-spacing: -0.48px; 
    font-weight:500;
    width:100%; 
    padding:0 30px 0 18px; 
    text-align: left; 
    background:rgba(255,255,255,0.85);
}

.trainIntro .btmBtn li .btn .ico{
    position: absolute; 
    top:50%; 
    right:10px;
    width:16px; 
    height:16px; 
    margin-top:-8px; 
}



// 로그인 & 회원가입  인풋 or 버튼들 리스트형식 
.ulList li .label-tit{font-weight: 500; }
.ulList li .ul-block li+li{margin-top:10px;}
.ulList li .input{color: rgba(0,0,0,0.65);}
.ulList li .txt-desc{color:rgba(0,0,0,0.40);}
.h-tit + .ulList{margin-top: 36px;}
.txt-desc2 + .ulList{margin-top: 32px;}

// 로그인 - 관심사 선택
.ulList.type1 li+li{margin-top:28px;}
.ulList.type1 .label-tit{display: block; font-size:map-get($font-size, font_15); line-height: 21px; letter-spacing: -0.45px; margin-bottom: 12px;}
.ulList.type1 .label-tit:after{display: block; content: ''; clear: both;}
.ulList.type1 .label-tit strong{display: inline-block; vertical-align: middle;}
.ulList.type1 .in-chk{margin-top: -8px;}
.ulList.type1 .in-chk .labelChk2{margin-top: 8px;}

// 연수원 찾기 - 이메일 , url
.ulList.type2 li{color:#595959;}
.ulList.type2 li+li{margin-top:20px;}
.ulList.type2 .label-tit{display: block; font-size:map-get($font-size, font_14); line-height: 20px; color:#000; letter-spacing: -0.42px; margin-bottom: 8px;}
.ulList.type2 .in-chk{margin-top: -8px;}
.ulList.type2 .in-chk .labelChk2{margin-top: 8px;}

// 로그인 - 연수원 선택하기  type3
.ulList.type3 li{border-bottom:1px solid #ebebeb;}
.ulList.type3 li a{display: block; position: relative; z-index: 1; font-size:map-get($font-size, font_18); line-height:27px; letter-spacing: -0.54px; padding: 18px 30px 18px 2px;}
.ulList.type3 li a .ico{position: absolute; top:50%; right:6px;}

.ulList.type4{border-top:1px solid #bfbfbf;}
.ulList.type4 li{ position: relative; z-index: 1; height:52px; padding:16px 0 15px; border-bottom:2px solid #eaeaea;}
.ulList.type4 li > .labelChk{vertical-align: top;}
.ulList.type4 li > .ico{position: absolute; top:50%; right:4px; width:16px; height:18px; margin-top:-9px; background-position: 5px -64px;}

// 개인정보 마케팅 활용 동의
.cTitWrap + .ulList.type4{margin-top:17px;} 


.ulList2 li a{display: table; table-layout: fixed; font-size: map-get($font-size, font_14); line-height: 42px; width:100%; height: 42px; border-bottom:1px solid #e3e3e3; }
.ulList2 li .cate{display: table-cell; font-weight: 500; width:50px;}
.ulList2 li .txt{display: table-cell; color:#000000; font-weight: 400; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.ulList2 li.no-date{display: table; width: 100%; border-bottom:1px solid #eaeaea;}
.ulList2 li.no-date p{display: table-cell; font-size: map-get($font-size, font_15); color:#666; line-height: 18px; height:110px; text-align: center; vertical-align: middle;}
.ulList2 li.no-date p .ico{width:19px; height: 18px;margin-right: 4px; vertical-align: top; background-position: 0 -190px;}






/* 로그인 */
#container.login .h-tit1{display: table; z-index: 2; width: 100%;line-height: 0;margin-bottom:31px;width:215px;height:74px;word-break: keep-all;}
#container.login .h-tit1.noguide{margin-top:40px;margin-bottom:31px;}
#container.login .h-tit1.type_image{position:relative;}
#container.login .h-tit1 img{position: absolute;top: 50%;transform: translate(0%, -50%);height:25px;}
#container.login .h-tit1 p{display: table-cell;font-size: map-get($font-size, font_26);  line-height: 38px; letter-spacing: -0.78px; font-weight: 500;  height: auto; vertical-align: middle; overflow: hidden;}
#container.login .loginBox .loginList li{position: relative;}
#container.login .loginBox .loginList li + li{margin-top: 19px;}
#container.login .loginBox .loginList .error-msg{position: absolute; left:0; top:45px; z-index: 1;}
#container.login .loginBox .loginChk{margin-top:35px;}
#container.login .loginBox input.chk + .ico {width:20px; height:20px;}
#container.login .loginBox input.chk:checked + .ico {background-position: 0 0;}
#container.login .loginBox .labelChk .label{color:#333; font-weight: 500; line-height: 20px; }
#container.login .loginBox .labelChk + .labelChk{margin-left:30px;}
#container.login .loginBox .loginBtn{margin-top:36px;}
#container.login .loginBox .loginBtn .btn{width:100%;}
#container.login .loginEtcBtn{margin-top:17px;color:rgba(0,0,0,0.8)}
#container.login .loginEtcBtn:after{display: block; content:''; clear: both;}
#container.login .loginEtcBtn li{float:left; line-height: 19px; vertical-align: middle;}
#container.login .loginEtcBtn li + li{margin-left:11px;}
#container.login .loginEtcBtn li + li::before{display: inline-block; content: ''; width:1px; height:9px; margin-right: 9px; vertical-align: middle; background:#b9b9b9;}
#container.login .loginEtcBtn li a{display: inline-block; vertical-align: middle;}
#container.login .loginGuide{margin-top:62px;}
#container.login .loginGuide dt{font-weight: 500;line-height: 18px;margin-bottom: 3px;font-size: map-get($font-size, font_14);letter-spacing: -0.42px;color:rgba(0,0,0,0.8)}
#container.login .loginGuide dd{font-size: map-get($font-size, font_13); color:rgba(0,0,0,0.4); letter-spacing: -0.39px; line-height: 19px;}

// 로그인 - 관심사 선택
#container.interest .titTxtWrap{padding-top:0px;}
#container.interest .titTxtWrap .txt-tit{font-size:map-get($font-size, font_30); line-height: 38px; font-weight:500; letter-spacing: -0.9px;}
#container.interest .titTxtWrap .txt-desc{font-size:map-get($font-size, font_13); color:#000; line-height: 20px; letter-spacing: -0.39px;font-weight: 300;}
#container.interest .titTxtWrap .txt-tit + .txt-desc{margin-top:8px;}

// 관심사 선택
#container.interest .ulList{margin-top:26px}
#container.interest .labelChk2 input.chk + .label{color:#000;font-weight: 500;letter-spacing: -0.36px}

// 용어사전
#container.study_dictionary .h-tit5{letter-spacing: -0.12px;}
#container.study_dictionary .h-tit5 .total_txt{letter-spacing: -0.38px;}
#container.study_dictionary .h-tit5 .count{margin-left:5px;}

#container.study_dictionary .multiList.type3 > li{  border-bottom:1px solid #e3e3e3;display:block}
#container.study_dictionary .multiList.type3 > li .in{width: calc(100% - 66px);padding:16px 0 15px;display:block;}
#container.study_dictionary .multiList.type3 .ico.arrow{position:absolute;right:0px;top:calc(50% - 8px);}

#container.study_dictionary .multiList.type3 .in .title{font-size: map-get($font-size, font_16); line-height:22px; letter-spacing: -0.48px;font-weight: 500;margin-bottom:4px;width:100%}
#container.study_dictionary .multiList.type3 .in .contents{font-size: map-get($font-size, font_14); line-height:20px; letter-spacing: -0.42px;color:rgba(0,0,0,0.65);width:100%; }

// 회원가입 선택
#container.join_type .h-tit1{margin-bottom:47px;font-weight:500;}
#container.join_type .joinTypeBox dt{font-size: map-get($font-size, font_20);line-height: 29px;margin-bottom: 18px;letter-spacing: -0.6px;}
#container.join_type .joinTypeBox dd{font-size: map-get($font-size, font_14);line-height: 20px;color:rgba(0,0,0,0.65);letter-spacing: -0.42px;}
#container.join_type .joinTypeBox p{font-size: map-get($font-size, font_10);line-height: 15px;margin-top: 4px;font-weight:500;letter-spacing: -0.3px;}
#container.join_type .joinTypeBox .btmBtn{margin-top: 12px;}
#container.join_type .joinTypeBox .btmBtn .btn{font-size: map-get($font-size, font_14);margin-top: 0px;vertical-align: middle;letter-spacing: -0.42px;font-weight:500;}
#container.join_type .joinTypeBox dl + dl{margin-top: 59px;}
#container.join_type .joinTypeBox dl + dl dt{margin-bottom:14px;}

/* 통합회원가입 */
#container.join .h-tit{margin:0px 0px 12px}
#container.join .stepper{margin-bottom:0px;}
#container.join .join .guideList li{font-weight:300}

#container.join .certList li{position: relative; z-index: 1;font-size: map-get($font-size, font_14);letter-spacing: -0.42px}
#container.join .certList li .btn{display: block; line-height: 52px; padding:0 40px 0 19px;color:#000; border:1px solid #d9d9d9;}
#container.join .certList li .btn .ico{position: absolute; top:50%; right:19px; width:8px; height:12px; margin-top:-6px; background-position: 0 -67px;}
#container.join .certList li + li{margin-top: 12px;}
#container.join .certList + .guideList{margin-top: 16px;}

#container.join .agreeAll{margin-top:36px;}
#container.join .agreeAll .labelChk .label{line-height: 21px;letter-spacing: -0.48px;}
#container.join .agreeList{border-top: 1px solid #d9d9d9;}
#container.join .agreeList li{border-bottom: 1px solid #ebebeb;}
#container.join .agreeList .labelChk .label{letter-spacing: -0.42px;}
#container.join .labelChk input.chk + .ico{margin-right: 12px;}

#container.join .ulList.type1 .label-tit{display: block;line-height: 20px;letter-spacing: -0.42px; margin-bottom: 12px;}
#container.join .ulList.type1 .infoChk .btn{color:#000;}
#container.join .ulList.type1 .join-id{margin-top:42px;}
#container.join .labelChk2 input.chk + .label{color:#000;font-weight: 500;letter-spacing: -0.36px}

#container.join .ulList.type2{margin-top: 34px;}
#container.join .ulList.type2 .label-tit{margin-bottom: 16px;font-size:map-get($font-size, font_16);font-weight:500;}
#container.join .ulList.type2 .infoChk{padding-right: 95px;}
#container.join .ulList.type2 button{letter-spacing: -0.42px;}
#container.join .ulList.type2 .infoChk input{letter-spacing: -0.42px;}
#container.join .ulList.type2 input{color:rgba(0,0,0,0.8);font-size: map-get($font-size, font_14);line-height: 15px;letter-spacing: -0.42px; }
#container.join .ulList.type2 li .ul-block li{padding-left:5px;}
#container.join .ulList.type2 li .ul-block li + li{margin-top:16px;}
#container.join .ulList.type2 li + li{margin-top:36px}
#container.join .ulList.type2 .labelRdo .label{color:rgba(0,0,0,0.65);font-size: map-get($font-size, font_14);line-height: 22px;}
#container.join .ulList.type2 .labelRdo input.rdo + .ico{margin:0px 11px 0 0 }
#container.join .ulList.type2 .labelRdo input.rdo:disabled + .ico + .label{color:rgba(0,0,0,0.25)}
#container.join .rdoInfoChK{position: relative; padding-left:40px;}
#container.join .rdoInfoChK .labelRdo{position: absolute;left: 5px; top: 11px; z-index: 1;}





// 개인정보 처리 방침
#container.terms .h-tit1{margin-bottom:20px;}
.agreeCnt{}
.agreeCnt .agree-tit{font-size:map-get($font-size, font_14);; margin-bottom: 8px; color:#000;line-height: 21px;}
.agreeCnt .agree-txt{font-size:map-get($font-size, font_12);; color:rgba(0,0,0,0.65); letter-spacing: -0.36px;line-height: 20px; font-weight: 300;}
.agreeCnt .agree-txt + .agree-tit{margin-top:20px;}

// 우편번호 찾기
#container.searchpost .h-tit1{letter-spacing: -1.3px}
#container.searchpost .search-tit{font-size:map-get($font-size, font_14); line-height: 20px;letter-spacing: -0.42px;margin-bottom:8px;font-weight: 500;}
#container.searchpost .search_result_wrap{margin-top:4px;}
#container.searchpost .search_result{min-height:94px;border-bottom:1px solid #ebebeb;padding: 15px 0px;line-height:21px;color:rgba(0,0,0,0.8);font-weight:300;font-size:map-get($font-size, font_13);letter-spacing: -0.65px;}
#container.searchpost .search_result tr+tr{margin-top:4px;}
#container.searchpost .search_result .address_left.hilight{font-size:map-get($font-size, font_14);font-weight:500;}
#container.searchpost .search_result .address_left{width: 49px;text-align: left;vertical-align: top;font-weight:400;color: #000;letter-spacing: -0.65px}
#container.searchpost .search_result .zip_code{color:rgba(0,0,0,0.3); letter-spacing: -0.7px;}

















// 용어사전 -상세
#container.study_dictionary_de .h-tit1{ display: inline-block; font-size:map-get($font-size, font_26); line-height: 22px; letter-spacing: -0.78px; margin-bottom: 16px;}
#container.study_dictionary_de .txt-desc{font-size:map-get($font-size, font_15); line-height: 25px; letter-spacing: -0.45px; color: rgba(0,0,0,0.8);}


// 모범답안

#container.study_dictionary .empty_img { width: 100%; height: auto; margin: 12px 0 20px;}
#container.study_dictionary .txt-desc{font-size:map-get($font-size, font_16); color:#1a1a1a; line-height: 25px; letter-spacing: -0.48px;}

// 토론방 - 수정/등록 

#container.study_discuss .singleList{margin-top: 8px; margin-bottom:20px;}
#container.study_discuss .singleList li{position: relative;}
#container.study_discuss .singleList .dis_num{outline: none; width: 48%; height: 44px;}


#container.study_discuss .singleList .dis_num:nth-child(1){margin-right: 3%; }
#container.study_discuss .singleList li .pos_a{position: absolute; top: 12px; right:16px; }
#container.study_discuss .singleList li input[type=number]::placeholder{text-align:left}
#container.study_discuss .singleList li input[type=number]{ width: 100%;height: 44px; padding: 0px 35px 0px 16px;text-align:right;}
#container.study_discuss .singleList li input[type=number]::-webkit-inner-spin-button{-webkit-appearance: none;margin: 0;} 
#header p.end{width: auto;position: absolute;right: 14px;top: 0;} 

// 시뮬레이션
#container.study_simulation .line01{margin-top:28px;margin-bottom: 26px; width: 100%;  border-bottom: 1px solid #ccc;}
#container.study_simulation .txt-tit{font-size:map-get($font-size, font_24); line-height: 32px; font-weight:500; letter-spacing: -0.72px;}
#container.study_simulation .txt-desc{font-size:map-get($font-size, font_15); color:#1a1a1a; line-height: 25px; letter-spacing: -0.45px;}
#container.study_simulation .empty_img { width: 100%; height: auto; margin: 12px 0 20px;}
#container.study_simulation .h-tit5{font-size:map-get($font-size , font_16);line-height:15px; letter-spacing:-0.48px; margin-bottom: 12px;}
#container.study_simulation .bon{font-size:map-get($font-size , font_16);line-height:25px; letter-spacing: -0.48px; margin-bottom:20px;}
#container.study_simulation .ul-block li,.ul-block li + li{margin-bottom: 10px;}
#container.study_simulation .inner{position: relative;}
.absBtmBtn{position: absolute;left: 0;bottom: 0;z-index: 100;width: 100%;}
.chip {display:inline-block;margin-bottom: 6px; height: 26px; border-radius: 16px; border: 1px solid rgba(0,0,0,0.4); padding: 4px 10px ;font-size: map-get($font-size, font_12);line-height: 18px; letter-spacing: -0.36px}


// 링크/독서통신/집합 - Full screen

#container.study_link .txt-tit{font-size:map-get($font-size, font_20); line-height: 21px; font-weight:500; letter-spacing: -0.6px;margin-bottom: 14px; display: inline-block;}
#container.study_link .txt-line{padding-top:10px; padding-bottom:10px;}
#container.study_link .txt-line .ops{font-size:map-get($font-size, font_15);line-height: 21px; letter-spacing: -0.45px; color:rgba(0,0,0,0.8)}
#container.study_link .txt-line .val{font-size:map-get($font-size, font_15);line-height: 21px; letter-spacing: -0.45px; float: right;}
#container.study_link .sub-tit{margin-top:32px; margin-bottom: 10px; font-size:map-get($font-size, font_16);line-height: 25px; letter-spacing: -0.48px;}
#container.study_link .gr_box{padding: 14px 16px; background-color: #f5f5f5;}
#container.study_link .gr_box .gb_txt{font-size:map-get($font-size, font_15);line-height: 25px; letter-spacing: -0.45px;}
#container.study_link .sub-txt-a{font-size:map-get($font-size, font_15);line-height: 25px; letter-spacing: -0.45px;}
#container.study_link .sub-txt-b{font-size:map-get($font-size, font_12);line-height: 21px; letter-spacing: -0.36px; color: rgba(0,0,0,0.5);}
.line01{width: 100%;  border-bottom: 1px solid #ccc;}


// 설문/제출완료 

.bg-gr .h-tit5{vertical-align: text-bottom; font-size:map-get($font-size , font_18);line-height:25px; letter-spacing:-0.54px; margin-bottom: 10px;}
.bg-gr .h-tit5 span:nth-child(1){margin-right:3px;}
.bg-gr .h-tit5 span:nth-child(2){vertical-align: text-bottom;}
.bg-gr .h-tit1{font-size:map-get($font-size , font_24);line-height:32px; letter-spacing:-0.72px; margin-bottom: 58px;}
.bg-gr #header{background:#efeff6;}
.bg-gr-fix{ background: #efeff6;position: fixed;height: 124px;width: 100%;}
#container.study_survey_sub .survey-tit{font-size:map-get($font-size , font_18);line-height:38px; letter-spacing:-0.54px;margin-bottom: 16px;  }
#container.study_survey_sub .survey-txt{font-size:map-get($font-size , font_16);line-height:25px; letter-spacing:-0.48px;color:rgba(0,0,0,0.8) }

//  의견공유/제출완료

#container.study_opinion_sub .h-tit1{margin-bottom: 58px;}
#container.study_opinion_sub .opinion-tit{font-size:map-get($font-size , font_16);line-height:25px; letter-spacing:-0.48px;margin-bottom: 6px; }
#container.study_opinion_sub .person{font-size:map-get($font-size , font_14);line-height:20px; letter-spacing:-0.42px;margin-bottom: 26px; color:rgba(0,0,0,0.5); }
#container.study_opinion_sub .progBox{height: 8px;    border-radius: 100px;}
#container.study_opinion_sub .txt-wrap{margin-top:16px;}
// #container.study_opinion_sub .txt-wrap .chip{ border-color: }
#container.study_opinion_sub .prog-txt{ display: inline-block; float: left; width: 69%;font-size:map-get($font-size , font_15);line-height:22px; letter-spacing:-0.45px; }
#container.study_opinion_sub .part-num{font-size:map-get($font-size , font_15);line-height:20px; letter-spacing:-0.45px; color:rgba(0,0,0,0.65);}
#container.study_opinion_sub .v-line01{ margin-left: 6px; color: #d9d9d9;}
#container.study_opinion_sub .part-num-2{ font-size:map-get($font-size , font_15);line-height:20px; letter-spacing:-0.45px; margin-left: 6px; color:rgba(0,0,0,0.80);}
#container.study_opinion_sub .txt-line{ margin-top: 42px; padding-top:0px; padding-bottom:12px;}
#container.study_opinion_sub .txt-line .my-op{font-size:map-get($font-size, font_18);line-height: 38px; letter-spacing: -0.54px; color:rgba(0,0,0,0.8)}
#container.study_opinion_sub .txt-line .total-op{float: right; font-size:map-get($font-size, font_14); line-height: 38px;} // line-height op와 동일 
#container.study_opinion_sub .txt-line .total-val{font-size:map-get($font-size, font_15);line-height: 38px; letter-spacing: -0.45px; margin-right:4px;}
#container.study_opinion_sub .txt-line .total-num{font-size:map-get($font-size, font_14);line-height: 38px; letter-spacing: -0.42px; color:rgba(0,0,0,0.5)}
#container.study_opinion_sub .txt-line .ico.gray_next {cursor: pointer; margin-left:4px;}
#container.study_opinion_sub .reply-name {font-size:map-get($font-size, font_14);line-height: 21px; letter-spacing: -0.42px; margin-top:16px;}
#container.study_opinion_sub .reply-txt {font-size:map-get($font-size, font_14);line-height: 21px; letter-spacing: -0.42px; margin-top:16px; color:#1a1a1a;}
#container.study_opinion_sub .reply-date {font-size:map-get($font-size, font_12);line-height: 18px; letter-spacing: -0.12px; color:rgba(0,0,0,0.65);}
#container.study_opinion_sub .reply-wrap {margin-top:18px; font-size:map-get($font-size, font_13);line-height: 32px; letter-spacing: -0.39px; color:rgba(0,0,0,0.80);}
#container.study_opinion_sub .reply-name .ico.more {cursor: pointer;}
#container.study_opinion_sub .reply-wrap .down-arr {cursor: pointer; margin-right:1px;}
#container.study_opinion_sub .reply-wrap .reply-like {cursor: pointer;}
#container.study_opinion_sub .reply-wrap .reply-num {font-size:map-get($font-size, font_14);line-height: 19px; }
#container.study_opinion_sub .reply-wrap .reply-unlike {cursor: pointer; margin-left:8px;}

// 서약서 

#container.study_pledge .h-tit1{margin-bottom: 12px;font-size:map-get($font-size, font_24); line-height: 32px; letter-spacing: -0.72px;}
#container.study_pledge .pledge-tit{margin-bottom: 28px;font-size:map-get($font-size, font_15); line-height: 22px; letter-spacing: -0.45px;}
#container.study_pledge .line01{margin-bottom: 26px;}
#container.study_pledge .empty_img { width: 100%; height: auto; margin-bottom:12px;}
#container.study_pledge .txt-desc{font-size:map-get($font-size, font_16); color:#1a1a1a; line-height: 25px; letter-spacing: -0.48px;margin-bottom:36px;}
#container.study_pledge .sub-tit{font-size:map-get($font-size, font_14);line-height: 20px; letter-spacing: -0.42px;margin-bottom:8px;}
#container.study_pledge .singleList{ margin-bottom: 20px;}
.line02{ margin-bottom: 26px; width: 100%; height: 8px; background-color:#f2f2f2;}
.absBtmBtn .btn[disabled] {color: #c1c1c1 !important; background: #ededed !important;}
#header .num{ display: inline-block;font-size:map-get($font-size, font_17);line-height: 28px; letter-spacing: -0.85px; vertical-align: middle; }
#header .page-btn{ position: absolute; right: 14px;}


// 서약서 제출완료

#container.study_pledge_sub .h-tit1{margin-bottom: 58px;}
#container.study_pledge_sub .pledge-tit{font-size:map-get($font-size, font_18);line-height: 27px; letter-spacing: -0.54px;margin-bottom:16px;}
#container.study_pledge_sub .pledge-txt{font-size:map-get($font-size, font_15);line-height: 22px; letter-spacing: -0.45px;}
#container.study_pledge_sub .pledge-txt .pledge-ip{font-size:map-get($font-size, font_15);line-height: 29px; letter-spacing: -0.45px; color:rgba(0,0,0,0.65);margin-left: 8px;}
#container.study_pledge_sub .bg-gr-fix{ background: #efeff6;position: fixed;height: 156px;width: 100%;}