@charset "utf-8";
// 컬러군 
// ( colorCode1 : Blue, colorCode2 : Indigo, colorCode3 : Green, colorCode4 : Red, colorCode5 : Yellow )
$brand_colors: (
  colorCode1:(
    clr1 : #4B7AF4,
    clr2 : #2F3E9F,
    clr3 : #0A4CEC,
    clr4 : #DDE5ED,
    clr5 : #0A4CEC,
    clr6 : #A8C2FF
  ),
  colorCode2:(
    clr1 : #21277C,
    clr2 : #00ADFB,
    clr3 : #4E51D4,
    clr4 : #E6EAF5,
    clr5 : #4E51D4,
    clr6 : #A3A9FF
  ),
  colorCode3:(
    clr1 : #0C7979,
    clr2 : #02AD93,
    clr3 : #007E7B,
    clr4 : #DAE6E4,
    clr5 : #007E7B,
    clr6 : #05B4B0
  ),
  colorCode4:(
    clr1 : #2E3E50,
    clr2 : #F2444A,
    clr3 : #FF4B6B,
    clr4 : #F0E9E6,
    clr5 : #FF4B6B,
    clr6 : #FF647F
  ),
  colorCode5:(
    clr1 : #C07902,
    clr2 : #FFA000,
    clr3 : #BF360C,
    clr4 : #E6E4DC,
    clr5 : #BF360C,
    clr6 : #FFCB84
  )
);

// Helper theme mixin
// @param $name: name of the theme (HTML class)
// @param $color: color of the theme
@mixin theme($name, $color) {
  .#{$name} {
    .clr1{
      background-color: map-get($color,clr1) !important;
    }    
    .clr2{
      background-color: map-get($color,clr2) !important;
    }    
    .clr3{
      background-color: map-get($color,clr3) !important;
    }
    .clr4{
      background-color: map-get($color,clr4) !important;
    }
    .clr5{
      background-color: rgba(map-get($color,clr5),0.1) !important;
    }
    .clr6{
      background-color: map-get($color,clr6) !important;
    }
    .mask_clr1{
      background: map-get($color,clr1) !important;
    }
    .mask_clr2{
      background: map-get($color,clr2) !important;
    }
    .mask_clr3{
      background: map-get($color,clr3) !important;
    }
    .mask_clr4{
      background: map-get($color,clr4) !important;
    }
    .mask_clr5{
      background: map-get($color,clr5) !important;
    }
    .mask_clr6{
      background: map-get($color,clr6) !important;
    }
    .color_clr1{
      color: map-get($color,clr1) !important;
    }    
    .color_clr2{
      color: map-get($color,clr2) !important;
    }    
    .color_clr3{
      color: map-get($color,clr3) !important;
    }
    .color_clr4{
      color: map-get($color,clr4) !important;
    }
    .border_clr1{
      border-color: map-get($color,clr1) !important;
    }    
    .border_clr2{
      border-color: map-get($color,clr2) !important;
    }    
    .border_clr3{
      border-color: map-get($color,clr3) !important;
    }
    .border_clr4{
      border-color: map-get($color,clr4) !important;
    }
    input.underline:focus{
      border:0 !important;
      border-bottom:1px solid map-get($color,clr2) !important;
    }    
    input:focus{
      border:1px solid map-get($color,clr2) !important;
    }
    input.noline:focus{
      border:0 !important;
    }
    // 텝 하단 바
    .tabWrap.type2 .tabMenu li.on a{
      border-bottom:2px solid map-get($color,clr2);
    }
    // 체크박스 유형1
    .labelChk2 input.chk:checked + .label{
      color:#fff !important; 
      background: map-get($color,clr2);
    }
    // 체크박스 유형2
    input.chk:checked + .ico{
      background: map-get($color,clr2) url("../img/ic_checked_wh_20.png") no-repeat;
      background-size: cover;
    }
    
    // 라디오 버튼(박스) 체크아이콘
    .rdoSelBox .labelRdo .rdo:checked + .ico{
      background: map-get($color,clr2) url("../img/ic_checked_wh_20.png") no-repeat;
      background-size: cover;
    }
    // 라디오 버튼
    .labelRdo input.rdo:checked + .ico{
      background: map-get($color,clr2);
    }
    // 라디오 버튼 + 라벨
    .labelRdo input.rdo:checked + .ico + .label{
      color: map-get($color,clr2);
    }
    // 라디오 버튼( 체크아이콘 박스)
    .rdoSelBox .labelRdo .rdo:checked + .ico + .label{
      border : 1px solid  map-get($color,clr2) !important;
      color: inherit;
    }
    //스위치
    .labelBtn .chk_box .m1{
      background:map-get($color,clr2);
    }
    /* form error */
    input.succ{border-color:map-get($color , clr2);}
    .succ-msg, .succ{color:map-get($color , clr2);}
    
    // 메인화면 헤더
    #header.mainType, #header.mainType2{background: map-get($color,clr1) !important;}

    // 메인화면 아이콘
    #header.mainType .btn.allMenu .ico.new,
    #header.mainType2 .btn.allMenu .ico.new{border:2px solid map-get($color,clr1)}

    // 헤더 텝 활성화
    .fixTab li.on{border-bottom:2px solid map-get($color , clr2) !important;}

    // 헤더 스크롤 텝
    .scroll-x .scrollTab li.on a{border-bottom:2px solid map-get($color , clr2) !important;}

    // 드로어 색상
    #drawer .exchange_wrap{background: map-get($color,clr2) !important;}

    // 드로어 아코디언 색상 primary 1 0.04
    #drawer .drawer_list_inner{ background: transparentize( map-get($color,clr1) , 0.96 )  !important;}

    // 키보드 버튼
    .keyboard_input .inputbox .regiBtn.active{background:map-get($color,clr1) !important}

    // 스피너
    #spinner{border: 3px solid map-get($color , clr2); border-right-color: transparent;}

    // bottomsheet 체크박스
    #bottomsheet ul li .checkIcon{color:map-get($color , clr2);}
    
    // 동영상 스크립트 아이콘
    .flowplayer .fp-controls .fp-controls-inner .fp-script.active{background:map-get($color , clr2);}

    // 동영상 볼륨 조절    
    .volume_wrap .volume_left .inner{background-image: linear-gradient(to top,rgba(map-get($color , clr2),0), map-get($color , clr2) );}
    .volume_wrap .volume_right .inner{background-image: linear-gradient(to top, rgba(map-get($color , clr2),0), map-get($color , clr2) );}

    // 동영상 프로그래스 circle
    .flowplayer .fp-progress:before , .flowplayer .fp-color {background: map-get($color , clr2);}
    .flowplayer.is-live.is-dvr.is-live-position .fp-duration {color: map-get($color , clr2);; }
    // 동영상 자동재생 circle
    .autoplay_cicle_circle{stroke:map-get($color , clr2);}
  }
}
// Including themes. 
// By looping through the $themes map
@each $key, $value in $brand_colors {
  @include theme($key, $value);
}

// 컬러군 선택 
// $select_color : 'brand_indigo';
// $brand_color: map-get($brand_colors,$select_color);
// $primary1: map-get($brand_color,primary1_color);
// $primary2: map-get($brand_color,primary2_color);
// $secondary1: map-get($brand_color,secondary1_color);
// $secondary2: map-get($brand_color,secondary2_color);

// 고정컬러 
// ( 기능단위로 표현하며 고정컬러로 제공하는 것들 )
$static_colors: (
  danger:   #ff4141,  // 알림,에러,미진행 아이콘등 상태를 표현하는 컬러
  primary:  #007fff,  // 학습창의 정답, 찬성등 콘텐츠를 표현하는 컬러
  star:     #ff9c14,  // 별점 아이콘
  alert:    #e5f3ff   // 알림 : 새알림 영역 BG 상태를 표현하는 컬러
);

// Contents Color
$contents_colors: (
  type_1: #ff726D,
  type_2: #00b6e8,
  type_3: #32667d,
  type_4: #ffba00,
  type_5: #00b3c4
);


// 모노 컬러 
// ( 텍스트와 배경, 라인 등 컨텐츠 및 UI 전반에 활용되는 고정 컬러(모바일 기준)
$mono_colors: (
  mono_100: #000000,
  mono_80: rgba(#000000, 0.8),
  mono_65: rgba(#000000, 0.65),
  mono_50: rgba(#000000, 0.5),
  mono_40: rgba(#000000, 0.4),
  mono_25: rgba(#000000, 0.25),
  mono_0: #ffffff
);

// 라인컬러 
// ( 단독리스트일땐 B89 사용, 계층관계가있는 리스트일땐 B92/B85 세트로사용 , 콘텐츠 내 Index 아래 라인은 B60사용 )
// Section을 구분할 때 8dp, B95사용
$line_colors: (
  B92: #EAEAEA,
  B89: #E3E3E3,
  B85: #D9D9D9,
  B80: #CCCCCC,
  B60: #999999,
  B10: #1A1A1A,
  B95: #F2F2F2
);

// BG 컬러
$bg_colors: (
  BG_1: #F2F2F2,  // F2F2F2
  BG_2: #EEEEF5,  // 선택영역 BG ( Contents Box, LNB 펼침영역 BG )
  BG_3: rgba(0,0,0, 0.6),  // Dimmed Bg
  BG_4: rgba(0,0,0, 0.8),  // Toast Popup
  BG_5: #F5F5F5           // Input / Chips color
);

// Font Size  rem 사용.  html 태그에 지정안할 시 default = 16px
$font_size: (
  font_10 : 0.625rem,
  font_11 : 0.6875rem,
  font_12 : 0.75rem,
  font_13 : 0.8125rem,
  font_14 : 0.875rem,
  font_15 : 0.9375rem,
  font_16 : 1rem,       // html 기본 font-size : 16
  font_17 : 1.063rem,
  font_18 : 1.125rem,
  font_19 : 1.188rem,
  font_20 : 1.25rem,
  font_21 : 1.313rem,
  font_22 : 1.375rem, // 22추가
  font_23 : 1.438rem,
  font_24 : 1.5rem,
  font_25 : 1.563rem,
  font_26 : 1.625rem,
  font_27 : 1.688rem,
  font_28 : 1.75rem,
  font_29 : 1.813rem,
  font_30 : 1.875rem,
  font_31 : 1.938rem,
  font_32 : 2rem,
  font_33 : 2.063rem,
  font_34 : 2.125rem,
  font_35 : 2.188rem,
  font_36 : 2.25rem
);