#container.mediaquery{
    padding:0;
    min-height:calc(100vh - 14px);
    position: relative;

    &.login{min-height:calc(100vh);display: flex;flex-wrap: wrap; flex: 1;}
    // 컨텐츠 내부
    .inner{
      // margin:0 auto;
    }
    //header
    & #header{

      .btn.prev , .btn.close{
        width:auto;
        position: absolute;
        left:14px;
        top: 14px;
      }
      & .btn.prev.fixed , & .btn.close.fixed{
        width:auto;
        position: fixed;
        left:14px;
        top: 14px;
      }
      & p.header_text{
        text-align: left;
        padding-left: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 600;
        flex:1;
      }
      & .end{
        font-weight:400;
        & .end_btn1{margin-right:14px;}
      }
    }

    //content
    & #content{
      position: relative;
      margin: 0 auto;
      .cell{
        // display: block;
        position: relative;
        width:100%;
        .inner{

        }
      }
    }
  }


  @media only screen and (max-width:767px){
    $l_padding: 18px;
    $c_padding: 24px;
    $e_padding: 30px;
    #container.mediaquery{
      & #content{
        //리스트형
        &.list{
          width:calc(100% - #{$l_padding}*2);
          .inner{}

          &~.fixBtmBtn.abs{padding: 0px #{$l_padding};  }
        }
        //일반형
        &.normal{
          width:calc(100% - #{$c_padding}*2);
          .cell{
            .inner{}
          }
          &~.fixBtmBtn.abs{padding: 0px #{$c_padding};  }
        }
        //예외형
        &.etc{
          width:calc(100% - #{$l_padding}*2);
          .inner{}
          &~.fixBtmBtn.abs{padding: 0px #{$l_padding};  }
        }
        // 동영상
        &.media{
          width:calc(100% - #{$c_padding}*2);
          &~.fixBtmBtn.abs{padding: 0px #{$c_padding};  }
        }
        //예외 ( 인트로,완료 여백30)
        &.etc_30{
          width:calc(100% - #{$e_padding}*2);
          .inner{}
          &~.fixBtmBtn.abs{padding: 0px #{$e_padding};  }
        }
      }
    }
  }

  @media only screen and (min-width:768px) and (max-width:1023px){ //최소768부터~최대1023까지 일때 적용 min-width 768보다 큰 브라우저 넓이에 적용되며 max-width 1023보다 작은브라우저 너비에 적용됩니다
    $l_padding: 18px;
    $c_padding: 74px;
    #container.mediaquery{
      & #content{
        //리스트형
        &.list{
          width:calc(100% - #{$l_padding}*2);
          .inner{}
          &~.fixBtmBtn.abs{padding: 0px #{$l_padding};  }
          & .thumList:not(.type2):not(.type3):not(.type4):not(.type7):not(.type8){overflow: hidden;}
          & .thumList:not(.type2):not(.type3):not(.type4):not(.type7):not(.type8) > li{
            display:table;
            width:calc(50% - 9px);
            float:left;
          }
          & .thumList:not(.type2):not(.type3):not(.type4):not(.type7):not(.type8) > li:nth-child(2n){
            margin-left:18px;
          }

          & .scroll-x .thumList:not(.type2):not(.type3):not(.type4):not(.type7):not(.type8){overflow: hidden;}
          & .scroll-x .thumList:not(.type2):not(.type3):not(.type4):not(.type7):not(.type8) > li{
            display:inherit;
            width:inherit;
            float:inherit;
          }
          & .scroll-x .thumList:not(.type2):not(.type3):not(.type4):not(.type7):not(.type8) > li:nth-child(2n){
            margin-left:0px;
          }
        }
        //일반형
        &.normal{
          width:620px;
          .cell{
            .inner{}
          }
          &~.fixBtmBtn.abs{width:620px;left:50%;transform:translateX(-50%)}
        }
        //예외형
        &.etc{
          width:520px;
          .inner{}
          &~.fixBtmBtn.abs{width:520px;left:50%;transform:translateX(-50%)}
        }
        // 동영상
        &.media{
          width:620px;
          &~.fixBtmBtn.abs{width:620px;left:50%;transform:translateX(-50%)}
        }
        //예외 ( 인트로,완료 여백30)
        &.etc_30{
          width:620px;
          .inner{}
          &~.fixBtmBtn.abs{width:620px;left:50%;transform:translateX(-50%)}
        }
      }
    }
  }

  @media screen and (min-width:1024px){
    $l_padding: 18px;
    $c_padding: 90px;

    #container.mediaquery{
      & #content{
        //리스트형
        &.list{
          width:calc(100% - #{$l_padding}*2);
          .inner{}
          &~.fixBtmBtn.abs{padding: 0px #{$l_padding};}

          & .thumList:not(.type2):not(.type3):not(.type4):not(.type7):not(.type8){overflow: hidden;}
          & .thumList:not(.type2):not(.type3):not(.type4):not(.type7):not(.type8) > li{
            display:table;
            width:calc(50% - 9px);
            float:left;
          }
          & .thumList:not(.type2):not(.type3):not(.type4):not(.type7):not(.type8) > li:nth-child(2n){
            margin-left:18px;
          }

          & .scroll-x .thumList:not(.type2):not(.type3):not(.type4):not(.type7):not(.type8){overflow: hidden;}
          & .scroll-x .thumList:not(.type2):not(.type3):not(.type4):not(.type7):not(.type8) > li{
            display:inherit;
            width:inherit;
            float:inherit;
          }
          & .scroll-x .thumList:not(.type2):not(.type3):not(.type4):not(.type7):not(.type8) > li:nth-child(2n){
            margin-left:0px;
          }
        }
        //일반형
        &.normal{
          width:844px;
          .cell{
            .inner{}
          }
          &~.fixBtmBtn.abs{width:844px;left:50%;transform:translateX(-50%)}
        }
        //예외형
        &.etc{
          width:520px;
          .inner{}
          &~.fixBtmBtn.abs{width:520px;left:50%;transform:translateX(-50%)}
        }
        // 동영상
        &.media{
          width:844px;
          &~.fixBtmBtn.abs{width:844px;left:50%;transform:translateX(-50%)}
        }
        //예외 ( 인트로,완료 여백30)
        &.etc_30{
          width:844px;
          .inner{}
          &~.fixBtmBtn.abs{width:844px;left:50%;transform:translateX(-50%)}
        }
      }
    }
  }



/* common */
#wrap{height: 100%;}

#header .header_text{visibility:hidden;}
#header.fixed .header_text {visibility:visible;}
#header{
  position: relative;
  display: block;
  width:100%;
  height:56px;
  line-height: 56px;
  padding:0 36px 0 72px;
  background:transparent;
  box-sizing:border-box;
  border-bottom:1px solid transparent;
}
#header.fixed{
  position: fixed;
  top:0px;
  z-index:10;
  border-color:#d9d9d9;
}
#header.tab.fixed{
  border:none;
}
#header.fixed ~ #content{
  margin-top: 0px;
  padding-top:56px;
}
#header.tab.fixed ~ #content{
  margin-top: 0px;
  padding-top: 100px;
}
#header.tab.video.fixed ~ #content{
  margin-top: 0px;
  padding-top: 323px;
}

#header p.header_text.type2{width: calc(100% - 76px)}
#header .end.sub{right:57px}


/* layout */
#header.fixed{position: fixed;width:100%;background:#fff;z-index: 10;}
#headerTab.fixed{position: fixed;width:100%;height:44px;line-height:43px;z-index: 10;top:56px}
#header .header_inner.line1{display:flex !important;}

/* Expand header padding 0 */
#header.expandheader.fixed {height:56px;background:none;top:0px;}
#header.expandheader.fixed .header_top{height:56px;background: #fff;}
#header.expandheader.fixed .content{display:none;}
/* #header.expandheader ~ #container{overflow-y: scroll; height: calc(100% - 378px);padding-top:18px;    padding-bottom: 18px;} */
#header.expandheader.fixed ~ #container{margin-top:118px;overflow-y: scroll; height: calc(100% - 56px);padding-top:0px;    padding-bottom: 92px;}
#header.expandheader{height:378px; padding:0px;width:100%;background:#fff;z-index: 10;}
#header .header_top{height:92px;width:100%;position: relative;top:0px;left:0px;background:#efeff6}
#header.expandheader .btn{position: absolute;top: 15px;left: 21px;}
#header.expandheader .content{display:block;width:100%;height:241px;border-bottom:1px solid #eaeaea;position: relative;padding:30px 18px}
#header.expandheader .content .writer{font-size: map-get($font-size, font_24); line-height: 31px; font-weight: 500; letter-spacing: -0.024em; }
#header.expandheader .content .writer_aff{font-size: map-get($font-size, font_11); line-height: 31px; letter-spacing: -0.012em; color: #929292;margin-bottom:8px}
#header.expandheader .content .writer_info{font-size: map-get($font-size, font_14); line-height: 25px;  letter-spacing: -0.035em;margin-bottom:18px}
#header.expandheader .content .writer_info li{display:inline-block}
#header.expandheader .content .writer_info li+li{margin-left:5px}
#header.expandheader .content .writer_info li+li::before{display: inline-block;content: '';width: 1px;height: 11px;vertical-align: middle;margin-right: 5px;background: #e3e3e3;}
#header.expandheader .content .writer_introduce{font-size: map-get($font-size, font_13); line-height: 21px; letter-spacing: -0.039em; color: #929292;max-height:82px;}
#header.expandheader .content .writer_pic{width: 100px;height: 100px;position: absolute;right: 18px;top: -50px;border: 1px solid #d9d9d9;border-radius: 100px;background:#d9d9d9}
#header.expandheader .tabMenu{position: relative;display: table; width:100%; height:44px; margin:0 auto;position: relative; }
#header.expandheader .tabMenu li{display: table-cell; width:33.3%; height:100%;text-align: center; vertical-align: middle;}
#header.expandheader .tabMenu li.on{color: #000;margin-bottom: -1px;border:none;border-bottom: 2px solid #00adfb;}
#header.expandheader .tabMenu li a{display: inline-block; width:32px; height:32px;}


// 메인 타입 1단형
#header.mainType{position: fixed; top: 0; z-index: 30; width: 100%;  height:58px; padding:0 78px;}
#header.mainType .btn.allMenu{position: absolute; left:18px; top:17px; width:24px; height:24px; }
#header.mainType .btn.allMenu .ico{width:100%; height:100%; background-position: 0 -286px;}
#header.mainType .btn.allMenu .ico.new{position: absolute; right:-7px; top:-2px; width:10px; height:10px; border-radius: 10px;background:#ff1414;}
#header.mainType .btnSch{position: absolute; right:18px; top:17px; width:24px; height:24px; }
#header.mainType .btnSch .ico{width:100%; height:100%; background-position: -338px -66px;}
#header.mainType .gnbMenu{display: table; width:100%; height:100%; margin:0 auto;color:#fff;}
#header.mainType .gnbMenu li{display: table-cell;  height:100%;text-align: center; vertical-align: middle;}
#header.mainType .gnbMenu li a.menu_icon{display: inline-block; width:32px; height:32px;}
#header.mainType .gnbMenu li .ico{width:100%; height:100%;}
#header.mainType .gnbMenu li a.menu_txt{display:none;}
#header.mainType .main_tit_txt{display:none;}

// 메인타입 1단형 텍스트타입
#header.mainType.txt .gnbMenu li a.menu_txt{display:inline-block;font-size:map-get($font-size, font_18);color:rgba(255,255,255,0.5)}
#header.mainType.txt .gnbMenu li.on a.menu_txt{color:#fff}
#header.mainType.txt .gnbMenu li a.menu_icon{display:none;}

// 메인타입 1단형 독립형
#header.mainType.independence .main_tit_txt{display:block;text-align: center !important;font-size:map-get($font-size, font_20);color:#fff;letter-spacing: -0.6px;}
#header.mainType.independence .gnbMenu{display:none;}
#header.mainType.independence .header_inner.line2{display:none;}


#header.mainType .gnbMenu .menu_home .ico{background-position:-32px -285px;}
#header.mainType .gnbMenu .menu_exploration .ico{background-position:-64px -285px;}
#header.mainType .gnbMenu .menu_subscription .ico{background-position:-96px -285px;}
#header.mainType .gnbMenu .menu_learn .ico{background-position:-128px -285px;}
#header.mainType .gnbMenu .menu_star .ico{background-position:-160px -285px;}
#header.mainType .gnbMenu .menu_home.on .ico{background-position:-32px -325px;}
#header.mainType .gnbMenu .menu_exploration.on .ico{background-position:-64px -325px;}
#header.mainType .gnbMenu .menu_subscription.on .ico{background-position:-96px -325px;}
#header.mainType .gnbMenu .menu_learn.on .ico{background-position:-128px -325px;}
#header.mainType .gnbMenu .menu_star.on .ico{background-position:-160px -325px;}

// 메인 타입 2단형
#header.mainType .header_inner{display:block;width:100%;}
#header.mainType .header_inner.line1{height:58px;text-align: center;color:#fff;}
#header.mainType .header_inner.line2{height:42px;line-height: 42px;margin-top:-4px;}
#header.mainType:not(.step2) .header_inner.line2{display:none;}
#header.mainType.step2 .header_inner.line1 .gnbMenu{display:none;}
#header.mainType.step2 .header_inner.line1 .main_tit_txt{display:block;text-align: center !important;font-size:map-get($font-size, font_20);color:#fff;}
#header.mainType.step2 {position: fixed; top: 0; z-index: 30; width: 100%;  height:100px; padding:0;}
#header.mainType.step2 .header_inner.line1{height:58px;text-align: center;padding: 0 78px;color:#fff;font-weight: 600;font-size:map-get($font-size, font_20);}
#header.mainType.step2 .header_inner.line2{height:42px;line-height: 42px;margin-top:-4px;}
#header.mainType.step2 .btnHome{position: absolute; right:18px; top:17px; width:24px; height:24px; }
#header.mainType.step2 .btnHome .ico{width:100%; height:100%; background: url("../img/ic_home_line_wh_24.png") no-repeat;}
#header.mainType.step2 .gnbMenu{display: table; width:100%; height:100%; margin:0 auto;color:#fff;}
#header.mainType.step2 .gnbMenu li{display: table-cell;  height:100%;text-align: center; vertical-align: middle;}
#header.mainType.step2 .gnbMenu li a.menu_icon{display: inline-block; width:32px; height:32px;}
#header.mainType.step2 .gnbMenu li .ico{width:100%; height:100%;}
#header.mainType.step2 .header_inner.line2 .gnbMenu li .ico{margin-top:-14px;}
#header.mainType.step2 .gnbMenu li a.menu_txt{display:none;}

// 메인타입 2단형 텍스트타입
#header.mainType.step2.txt .gnbMenu li a.menu_txt{display:inline-block;font-size:map-get($font-size, font_18);color:rgba(255,255,255,0.5);line-height: 20px;}
#header.mainType.step2.txt .gnbMenu li.on a.menu_txt{color:#fff}
#header.mainType.step2.txt .gnbMenu li a.menu_icon{display:none;}

// 학습운영자 메인타입 2단형 예외
#header.mainType.eduperson .eduperson_title{position:relative;letter-spacing: -0.54px;width:100%; height:58px;}// 탭메뉴 클릭이안되는부분 수정
#header.mainType.eduperson .eduperson_title span:nth-child(1){display: inline-block;max-width: calc(100% - 75px);overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#header.mainType.eduperson .eduperson_title_ico{margin-left:6px;width:16px;height:16px;background: url("../img/ic_dropdown_white.png") no-repeat; background-size:cover;position: absolute;top: 50%;transform: translateY(-50%);} // 드롭다운 아이콘 높이조정
#header.mainType.eduperson .header_inner.line1{padding:0px 0px 0px 72px;font-size:map-get($font-size, font_18);text-align:left;}
#header.mainType.eduperson.step2.txt .gnbMenu li a.menu_txt{font-size:map-get($font-size, font_15);line-height:22px;letter-spacing: -0.45px;color:rgba(255,255,255,0.4)}
#header.mainType.eduperson.step2.txt .gnbMenu li.on a.menu_txt{color:#fff}



// 메인 타입 2단형 ATORM
#header.mainType2{position: fixed; top: 0; z-index: 30; width: 100%;  height:117px; padding:0;}
#header.mainType2 .header_inner{display:block;width:100%;}
#header.mainType2 .header_inner.line1{height:58px;text-align: center;padding: 0 78px;color:#fff;font-weight: 600;font-size:map-get($font-size, font_20);}
#header.mainType2 .header_inner.line2{height:59px;line-height: 59px;}
#header.mainType2 .header_inner.line1 .main_tit_txt{display:block;text-align: center !important;font-size:map-get($font-size, font_20);color:#fff;}
#header.mainType2 .btn.allMenu{position: absolute; left:18px; top:17px; width:24px; height:24px; }
#header.mainType2 .btn.allMenu .ico{width:100%; height:100%; background-position: 0 -286px;}
#header.mainType2 .btn.allMenu .ico.new{position: absolute; right:-7px; top:-2px; width:10px; height:10px; border-radius: 10px;background:#ff1414;}
#header.mainType2 .btnHome{position: absolute; right:18px; top:17px; width:24px; height:24px; }
#header.mainType2 .btnHome .ico{width:100%; height:100%; background: url("../img/ic_home_line_wh_24.png") no-repeat;}
#header.mainType2 .gnbMenu{display: table; width:100%; height:100%; margin:0 auto;color:#fff;}
#header.mainType2 .gnbMenu li{display: table-cell;  height:100%;text-align: center; vertical-align: middle;position:relative}
#header.mainType2 .gnbMenu li a.menu_icon{display: inline-block; width:32px; height:32px;position:absolute;left:50%;transform:translateX(-50%);bottom:31px;}
#header.mainType2 .gnbMenu li .ico{width:100%; height:100%;}
#header.mainType2 .gnbMenu .menu{opacity: 0.5;}
#header.mainType2 .gnbMenu .menu.on{opacity: 1;}
#header.mainType2 .gnbMenu .menu_conirm .ico{background: url("../img/ic_confirm_solid_wh_32.png") no-repeat;}
#header.mainType2 .gnbMenu .menu_product .ico{background: url("../img/ic_product_solid_wh_32.png") no-repeat;}
#header.mainType2 .gnbMenu .menu_process .ico{background: url("../img/ic_process_solid_wh_32.png") no-repeat;}
#header.mainType2 .gnbMenu .menu_status .ico{background: url("../img/ic_status_solid_wh_32.png") no-repeat;}

#header.mainType2 .gnbMenu li a.menu_txt{display:none;}
#header.mainType2 .gnbMenu li .icon_desc{position: absolute;font-size:map-get($font-size, font_11);line-height: 17px;letter-spacing: -0.33px;bottom:14px;left:0px;width:100%;text-align: center}
// 메인 타입 2단형 텍스트
#header.mainType2 .gnbMenu.text li{color:#fff}
// 텝형 헤더
#header.tab.fixed{position:fixed;}
#header.fixed .hide_header{display:none;}

#header.expand.fixed ~ #content{margin-top:0px;}
#header.expand.tab ~ #content{margin-top:0px;}


// 확장형 헤더 ( 텝 X )
#header.expand{position:relative; top: 0; z-index: 30; width: 100%;  height:auto; padding:0;    min-height: 56px;}
#header.expand.fixed{position:fixed}
#header.expand .header_inner{display:block;width:100%;}
#header.expand .header_inner.line1{height:56px;padding: 0 36px 0 72px;    position: absolute; top: 0px; left: 0px;z-index:10;}
#header.expand .header_inner.line1 .btn{top:14px !important;transform: translate(0,0) !important;}

// 확장형 헤더 ( 텝 O )
#header.tab{/*position: fixed;*/ position:relative; top: 0; z-index: 30; width: 100%;  height:auto; padding:0;    min-height: 100px;}
#header.tab .header_inner{display:block;width:100%;}
//audio시 변경사항
#header.tab .header_inner.line1.audio{height:0px; padding: 0px 138px 0px 72px ;}
#header.tab.fixed .header_inner.line1.audio{height:56px;padding: 0px 138px 0px 72px;}
#header.tab .header_inner.line1{height:56px;padding: 0 36px 0 72px;    position: absolute; top: 0px; left: 0px;}
#header.tab .header_inner.line1 .btn{top:14px !important;transform: translate(0,0) !important;}

#header.tab .header_inner.line2{height:44px;line-height: 44px;display: table;position: absolute; bottom: 0px; left: 0px;}
#header.tab .header_inner.line2 .fixTab{display: table; table-layout: fixed; width: 100%;}
#header.tab .header_inner.line2 .fixTab li{border:0; border-bottom:1px solid #ccc}
#header.tab .header_inner.line2 .fixTab li.on{border:0;}

#header.tab .header_inner.line2.scroll-x{display:block;border-bottom:1px solid #eaeaea}
#header.tab .header_inner.line2.scroll-x .scrollTab{display:block;}
#header.tab .header_inner.line2.scroll-x .scrollTab li{display:inline-block;border-bottom:0;padding-bottom:0px;border:0; width: initial;padding: 0px 0px 0px 18px;}
#header.tab .header_inner.line2.scroll-x li a{line-height:39px;}

// 확장형 헤더 + 동영상
#header.tab.video{padding-bottom:43px;min-height:140px;}
#header.tab.video.fixed .header_inner.line1{height:96px;line-height:22px;padding: 17px 138px 0px 72px;color:#fff;font-weight: 400;letter-spacing: -0.45px;}
#header.tab.video.fixed p.header_text{display: -webkit-box;white-space: unset !important;}


.subType2 #header{position: relative;}
.subType2 #header .btn.prev{position: absolute; left:21px; top:15px; }
.subType2 #header .tit{font-size: map-get($font-size, font_17); line-height: 28px; font-weight: 500; letter-spacing: -0.051em; padding:0 0 0 44px;}



/* footer */
#footer{}


/* aside */
.scroll-n{overflow:hidden;}
#all_menu{position:fixed; top:0; left:-100%; z-index:851; width:310px; height:100%; background:#fff;}
#all_menu .info{position:absolute; top:0; width:100%; height:98px;}
#all_menu .inner{height:100%; padding:98px 0 0; background:#e6e6e6; box-shadow:inset -1px 1px 1px #bebebe; -webkit-box-shadow:inset -1px 1px 1px #bebebe;}
#all_menu .inner > .cnt{width:100%; height:100%; padding:10px; overflow-y:scroll; -webkit-overflow-scrolling:touch;}
#all_menu .inner .sev{ overflow:hidden; border-radius:6px; box-shadow: 0px 1px 1px #c3c3c3; -webkit-box-shadow: 0px 1px 1px #c3c3c3;}
#all_menu .close{position:absolute; top:18px; right:20px; font-size:0; line-height:0; width:19px; height:18px; background-position: -381px -148px;}
#all_dim{display:none; position:fixed; z-index:850; top:0; bottom:0; left:0; right:0; background-color:#000; opacity:0.8; filter:alpha(opacity=80);}



#container #content{padding:0px 0px 40px 0px}
#container.pd70 #content{padding:0px 0px 124px 0px}
#container #content .inner{padding-top:22px;}
// 연수원
#container.findcenter #content .inner{padding:24px 6px 0px}
// 로그인
#container.login #content {padding-bottom:22px;}
#container.login #content .inner{padding:52px 18px 0px;}
// 관심사 패딩
#container.interest #content .inner{ padding-top:44px;padding-bottom: 0px}
// 회원가입 선택
#container.join_type #content .inner{ padding:24px 6px 0px}
// 통합회원가입
#container.join #content .inner{padding:36px 6px 0px}
// 통합회원가입2
#container.integration #content .inner{padding:36px 6px 0px}
#container.integration.start #content .inner{padding:74px 6px 0px}
// 임시아이디 변경
#container.change_id #content .inner{padding:36px 6px 0px}
// 용어사전
#container.study_dictionary #content .inner{ padding-top:26px;padding-bottom: 0px}
// 우편번호 찾기
#container.searchpost #content .inner{ padding:24px 6px 0px 6px;}
//아이디 찾기
#container.findid #content .inner{ padding: 24px 6px 0px}
//비밀번호 변경
#container.changepw  #content .inner{ padding: 24px 6px 0px}

// 회사검색
#container.searchcompany #content .inner{padding-top:18px}


// 고객센터
#container.inquiry #content .inner{padding-top:22px;padding-bottom:0px;}

// 1단형 메인타입 ( fixed )
#header.mainType + #content{padding-top:58px;}
#header.mainType.step2 + #content{padding-top:100px;}
// 2단형 메인타입 ( ATOM )
#header.mainType2 + #content{padding-top:117px;}

// 회사운영자 로그인
#container.eduperson_login #content .inner{padding:23px 18px 0px;}

// 회사운영자 edugroup
#container.eduperson_edugroup #content .inner{padding-top:0px;}
// 회사운영자 main
#container.eduperson #content .inner{padding-top:22px;}
// 회사운영자 학습현황 detail
#container.eduperson_studycurrent_detail #content .inner{padding-top:0px;}

// mainType
#container.MainType #content .inner{padding-top:22px}
// ATORM
#container.MainType #content .inner{padding-top:26px}
// ATORM 아이템팩퇴
#container.atorm_itemfactory #content .inner{padding-top:0px}
// ATORM 승인요청 리스트
#container.atorm_confirmlist #content .inner{padding-top:6px}
// ATORM 승인요청 리스트 상세
#container.atorm_confirmlist_detail  #content .inner{padding-top:0px}
// ATORM faq
#container.atorm_faq  #content .inner{padding-top:22px}


// 개인정보 처리방침
#container.terms  #content .inner{padding:24px 6px 0px 24px;}

// window popUp, layer popUp
.pop_wrap {
  overflow-x: hidden;
  height:100vh;
}
.pop_container {
  overflow-x:hidden;
  overflow-y:auto;
  padding-bottom:50px;
  text-align: left;
  background-color: #fff;
}
.pop_inner {
  padding:36px 18px 0 18px;
}
.pop_header {
  font-size: map-get($font-size , font_20);
  color: #000;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: -0.057em;
  padding-bottom: 22px;
}
.pop_body {
  overflow-y: auto;
  padding-bottom:38px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.045em;
  word-break: keep-all;
  color: rgba(0, 0, 0, 0.65);
}
.pop_btn_goBlock {
  margin-top: 17px;
  text-align: center;
}
.pop_btn_go {
  display:inline-block;
  height:44px;
  padding:0 20px;
  border:1px solid #cccccc;
  font-size: map-get($font-size , font_14);
  line-height:44px;
  text-align: center;
  color:map-get($mono_colors, mono_80);
  background-color: white;
}
.pop_btnBLock {
  position:fixed;
  bottom:0;
  width:100%;
  background-color: white;
}
.pop_btnBLock_inner {
  height: 50px;
}
.pop_btn {
  height: 50px;
  border-top:1px solid #d9d9d9;
  font-size: 1rem;;
  font-weight: 500;
  letter-spacing: -0.048em;
  color:map-get($mono_colors, mono_80);
}

.pop_btn_snd {
  border-left: 1px solid #d9d9d9;
  font-size: map-get($font-size , font_14);
}

.pop_imgBlock {
  position:relative;
  left:0;
  top:0;
  .pop_btn_goBlock {
    z-index:10;
    position: absolute;
    left:0;
    right:0;
    bottom:62.5px;
    width: 493px;
    margin:0 auto;
  }
}
.g_layerBlock {
  #dim {
    display:none;
  }
}

@media only screen and (min-width:768px) {
  .pop_wrap {
    width: 493px;
    height:auto;
    margin:0 auto;
    border:1px solid #d9d9d9;
  }
  .pop_container {
    position:relative;
    height:auto;

  }
  .pop_btnBLock {
    position: absolute;
    bottom:auto;
    width: 493px;
  }

  .layer_wrap {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
  }
  .layer_wrap {
    &:before {
      content: "";
      display: inline-block;
      margin-right: -.25em;
      height: 100%;
      vertical-align: middle;

    }
  }
  .layer_container {
    z-index: 10;
    display: inline-block;
    position: relative;
    left: 0px;
    top: 0px;
    vertical-align: middle;
    background-color: #fff;
  }

}

