@charset "utf-8";

/* title */


/* icon */
.ico{display: inline-block; font-size:0; vertical-align: middle; background: url("../img/ico_com.png") no-repeat left top; background-size: auto 400px;}
.ico.star{width:10px; height: 10px; margin-right: 2px; vertical-align: inherit; background-position: -375px -67px;}
.ico.point{width:16px;height:16px;background: url("../img/ic_point_line_16.png") no-repeat; }
.ico.heart{width:16px;height:16px;background: url("../img/ic_heart_line_16.png") no-repeat; }
.ico.heart2{width:16px;height:16px;background: url("../img/ic_heart2_line.png") no-repeat; background-size:16px;}
.ico.search{width:16px;height:16px;background: url("../img/ic_search_solid_black.png") no-repeat; }
.ico.like{width:16px;height:16px;background: url("../img/ic_thumb_line_16.png") no-repeat; }
.ico.time{width:16px;height:16px;background: url("../img/ic_time_line_16.png") no-repeat; }
.ico.time.wh{width:16px;height:16px;background: url("../img/ic_time_line_wh_16.png") no-repeat; }
.ico.view{width:16px;height:16px;background: url("../img/ic_view_line_16.png") no-repeat; }
.ico.arrow{width:16px;height:16px;background: url("../img/ic_next_line_black.png") no-repeat; background-size: contain; }
.ico.arrowsearch{width:16px;height:16px;background: url("../img/ic_arrowsearch_16.png") no-repeat; background-size: contain; }
.ico.gray_next{width:16px;height:16px;background: url("../img/ic_next.png") no-repeat; }
.ico.gray_down{width:16px;height:16px;background: url("../img/ic_accordian_bold_16.png") no-repeat; }
.ico.comment{width:20px;height:20px;background: url("../img/ic_bubble_line_20.png") no-repeat; }
.ico.next_16 {width:16px; height:16px; background: url("../img/ic_next_16.png") no-repeat;}
.ico.next_gray_16{width:16px; height:16px; background: url("../img/ic_next_line_gray_16.png") no-repeat; background-size:cover}
.ico.mark_line{width:28px;height:28px; background: url("../img/ic_mark_line_24.png") no-repeat;}
.ico.url_20{width:20px;height:20px; background: url("../img/ic_url_line_20.png") no-repeat;}
.ico.play_20{width:20px;height:20px; background: url("../img/ic_play_line_20.png") no-repeat;}
.ico.play_28{width:28px;height:28px; background: url("../img/ic_play_line_28.png") no-repeat; background-size:cover;}
.ico.ebook_28{width:28px;height:28px; background: url("../img/ic_ebook_line_28.png") no-repeat; background-size:cover;}
.ico.headphone_28{width:28px;height:28px; background: url("../img/ic_headphone_line_28.png") no-repeat; background-size:cover;}
.ico.pause_20.blue{width:20px;height:20px; background: url("../img/ic_pause_blue_16.png") no-repeat; background-size:cover;}
.ico.cancel_20.blue{width:20px;height:20px; background: url("../img/ic_cancel_blue_16.png") no-repeat; background-size:cover;}
.ico.redownload_20.blue{width:20px;height:20px; background: url("../img/ic_redownload_blue_16.png") no-repeat; background-size:cover;}
.ico.pause_24.wh{width:24px;height:24px; background: url("../img/ic_pause_wh_16.png") center center no-repeat; background-size:16px;}
.ico.cancel_24.wh{width:24px;height:24px; background: url("../img/ic_cancel_wh_16.png") center center no-repeat; background-size:16px;}
.ico.redownload_24.wh{width:24px;height:24px; background: url("../img/ic_redownload_wh_16.png") center center no-repeat; background-size:16px;}
.ico.ebook_20{width:20px;height:20px; background: url("../img/ic_ebook_line_20.png") no-repeat;}
.ico.headphone_20{width:20px;height:20px; background: url("../img/ic_headphone_line_20.png") no-repeat;}
.ico.youtube_20{width:20px;height:20px; background: url("../img/ic_youtube_20.png") no-repeat;}
.ico.quiz_20{width:20px;height:20px; background: url("../img/ic_quiz_line_20.png") no-repeat;}
.ico.filter_24{width:24px;height:24px; background: url("../img/ic_filter_24.png") no-repeat;}
.next_12{background-image: url("../img/ic_next_line_blue_12.png");position: absolute;right: 0px;top: 50%;transform: translateY(-50%);}
.ico.folder_16{width:16px;height:16px;background: url("../img/ic_folder_line_16.png") no-repeat; background-size: contain;}
.ico.play_16.blue{width:16px;height:16px;background: url("../img/ic_play_line_blue_16.png") no-repeat; background-size: contain;}
.ico.next_line_12 {width:12px; height:12px; background: url("../img/ic_next_line_12.png") no-repeat; background-size:cover}


/* 추가이미지 2018-12-07 */
.ico.chk{width:20px;height:20px;background: url("../img/ic_submission_solid_20.png") no-repeat; }
.ico.more{width:20px;height:20px;background: url("../img/ic_moredots_20.png") no-repeat; }
.ico.arr.down{width:16px;height:16px;background: url("../img/ic_accordion_arr_16_down.png") no-repeat; }
.ico.arr.up{width:16px;height:16px;background: url("../img/ic_accordion_arr_line_16_up.png") no-repeat; }
.ico.like_32.blue{width:32px;height:32px;background: url("../img/ic_thumb_line_cblue_32.png") no-repeat; }
.ico.unlike_32{width:32px;height:32px;background: url("../img/ic_unlike_line_3.png") no-repeat; }
.ico.unlike_32.red{width:32px;height:32px;background: url("../img/ic_unlike_line_red_32.png") no-repeat; }
.ico.back{width:32px;height:32px;background: url("../img/ic_former_solid_32.png") no-repeat; }
.ico.next{width:32px;height:32px;background: url("../img/ic_next_solid_black_32.png") no-repeat; }


/* 추가이미지 2018-12-10*/

.ico.del-blue{width:16px;height:16px;background: url("../img/ic_blue_16.png") no-repeat; }
.ico.img-a{width:20px;height:20px;background: url("../img/ic_image_line_20.png") no-repeat; }
.ico.ppt-a{width:20px;height:20px;background: url("../img/ic_ppt_line_20.png") no-repeat; }
.ico.del-blk{width:20px;height:20px;background: url("../img/ic_close_bold_20.png") no-repeat; }
.ico.plus{width:16px;height:16px;background: url("../img/ic_plus_16.png") no-repeat; vertical-align: -2px; }
.ico.plus.wh{width:16px;height:16px;background: url("../img/ic_plus_solidWhite.png") no-repeat; vertical-align: -4px; }
.ico.plus.done{opacity: 0.3; }
.ico.clip{width:16px;height:16px;background: url("../img/ic_addfile_16.png") no-repeat; }
.ico.download{width:20px;height:20px;background: url("../img/ic_download_20.png") no-repeat;  }
.ico.download-wh{width:20px;height:20px;background: url("../img/ic_download_wh_20.png") no-repeat;  }


/* 추가 이미지 2018-12-12*/
.ico.play{width:16px;height:16px;background: url("../img/ic_play_line_16.png") no-repeat;  }
.ico.more28{width:28px;height:28px;background: url("../img/ic_moredots_28.png") no-repeat; }
.ico.o-blk{width:16px;height:16px;background: url("../img/ic_o_black.png") no-repeat; }
.ico.o-blue{width:16px;height:16px;background: url("../img/ic_o_blue.png") no-repeat; }
.ico.x-blk{width:16px;height:16px;background: url("../img/ic_x_black.png") no-repeat; }
.ico.x-blue{width:16px;height:16px;background: url("../img/ic_x_blue.png") no-repeat; }


/* 추가 이미지 2018-12-14*/
.ico2.prev-wh{width:28px;height:28px;background: url("../img/ic_pre_wh_28.png") no-repeat;  position: absolute;}
.ico.back-wh{width:32px;height:32px;background: url("../img/ic_former_solid_wh_32.png") no-repeat;  }
.ico.next-wh{width:32px;height:32px;background: url("../img/ic_next_solid_wh_32.png") no-repeat;  }
.ico.o-blk-48{width:48px;height:48px;background: url("../img/ic_o_48_n.png") no-repeat; }
.ico.o-blue-48{width:48px;height:48px;background: url("../img/ic_o_48_s.png") no-repeat; }
.ico.x-blk-48{width:48px;height:48px;background: url("../img/ic_x_48_n.png") no-repeat; }
.ico.x-blue-48{width:48px;height:48px;background: url("../img/ic_x_48_s.png") no-repeat; }
.ico.chk-blue{width:32px;height:32px;background: url("../img/ic_quizcheck_32_on.png") no-repeat; }
.ico.off-blk{width:32px;height:32px;background: url("../img/ic_radiobtn_32_off.png") no-repeat; }
.ico.mark-o{width:58px;height:58px;background: url("../img/ic_mark_o_large.png") no-repeat; }
.ico.mark-x{width:58px;height:58px;background: url("../img/ic_mark_x.png") no-repeat; }

/* main 추가 이미지 2018-12-17 */
.ico.info {width:28px; height:28px; background: url("../img/ic_info.png") no-repeat; background-size: 28px;}
.ico.info.blue {width:24px; height:24px; background: url("../img/ic_info_blue_24.png") no-repeat;}
.ico.grade_gold {width:25px;height:25px;background: url("../img/ic_grade_gold.png") no-repeat; background-size: 36px; background-position:center center;}
.ico.next_16_80 {width:16px; height:16px; background: url("../img/ic_next_16_80.png") no-repeat; background-size: 16px;}


#header.mainType2 .line2 .ico{vertical-align: top}

.ico2.like{width:20px;height:20px;background: url("../img/ic_thumb_line_20.png") no-repeat; }
.ico2.comment{width:20px;height:20px;background: url("../img/ic_bubble_line_20.png") no-repeat; }
.ico2.share{width:20px;height:20px;background: url("../img/ic_share_line_20.png") no-repeat; }
.ico2.reply{width:20px;height:20px;background: url("../img/ic_indent_20.png") no-repeat; }
.ico2.heart{width:20px;height:20px;background: url("../img/ic_heart_line_20.png") no-repeat; }
.ico2.heart2{width:20px;height:20px;background: url("../img/ic_heart2_line.png") no-repeat; background-size:cover;}

/* 추가 이미지 2018-12-19 */
.ico.like_32{width:32px; height:32px; background: url("../img/ic_thumb_line_3.png") no-repeat; margin-top:-6px }
.ico.like_32.red {background: url("../img/ic_thumb_line_red_32.png")}
.ico.like_solid_32{width:32px;height:32px;background: url("../img/ic_thumb_solid.png") no-repeat; background-size:32px;}
.ico.heart_solid_32{width:32px; height:32px; background: url("../img/ic_heart_solid.png") no-repeat; margin-top:-6px; background-size: 32px;}
.ico.heart_solid_32.blue{width:32px; height:32px; background: url("../img/ic_heart_solid_32.png") no-repeat; margin-top:-6px; background-size: 32px;}
.ico.heart_solid_bg_32{width:32px; height:32px; background: url("../img/ic_heart_solid_bg.png") no-repeat; margin-top:-6px; background-size: 32px;}
.ico.download_32{width:32px;height:32px;background: url("../img/ic_download.png") no-repeat; background-size:32px;}
.ico.pencil_16_blue {width:16px; height:16px; background: url("../img/ic_pencil_line_blue_16.png")}
.ico.check_16 {width:16px; height:16px; background: url("../img/ic_check_line_16.png")} /*추가 이미지 2019-1-4*/
.ico.check_16_blue {width:16px; height:16px; background: url("../img/ic_check_blue_16.png")}
.ico.test_24 {width:24px; height:24px; background: url("../img/ic_test_line_24.png")}
.ico.deletemode_20_black {width:20px; height:20px; background: url("../img/ic_deletemode_20_black.png")}
.ico.deletemode_20 {width:20px; height:20px; background: url("../img/ic_deletemode_20.png"); background-size: cover}

/* 추가 이미지 2018-12-21*/
.ico.mark-o.sm{width: 38px;height: 38px;position: absolute;background: url("../img/ic_mark_o_small.png") no-repeat;}
.ico.num-cir{width: 16px;height: 16px;position: absolute;background: url("../img/img_number_bg.png") no-repeat;}
.ico.agree{width: 16px;height: 16px;background: url("../img/ic_mychoice_agree.png") no-repeat;}
.ico.check_24_blue {width:24px; height:24px; background: url("../img/ic_check_line_blue_24.png") ;background-size: cover;}
.ico.close_24_black{width:24px; height:24px; background: url("../img/ic_close_line_24.png") ;background-size: cover;}

/* 추가 이미지 2018-12-24 merry christmas */
.ico.indent{width: 16px;height: 16px;background: url("../img/ic_indent_line_gray_16.png") no-repeat;}

/* 추가 이미지 2018-12-26*/
.ico.accordion_down{width:20px; height:20px; background: url("../img/ic_accordion_arr_line_20_down.png") no-repeat; }
.ico.accordion_up{width:20px; height:20px; background: url("../img/ic_accordion_arr_line_skyblue_20_up.png") no-repeat; }

/* 추가 이미지 2019-1-2*/
.ico.tel_18 {width:18px; height:18px; background: url("../img/ic_tel_18.png") no-repeat; }
.ico.qrcode_18 {width:18px; height:18px; background: url("../img/ic_qrcode_18.png") no-repeat; }

/* 추가 이미지 2019-1-3*/
.ico.down_blue_24{width:24px;height:24px;background: url("../img/ic_down_blue_24.png") no-repeat; background-size:cover;}
.ico.calender_blue_24{width:24px;height:24px;background: url("../img/ic_calender_line_blue_24.png") no-repeat;vertical-align: -23%;line-height: 26px; }
.ico.calender_24{width:24px;height:24px;background: url("../img/ic_up_line_24.png") no-repeat; }

.ico.filter{width:24px;height:24px;background: url("../img/ic_filter_96.png") no-repeat; background-size: contain;}
.ico.arrowback{width:24px;height:24px;background: url("../img/btn_arrowback_96.png") no-repeat; background-size: contain;}
.ico.down{width:24px;height:24px;background: url("../img/ic_down_blue_24.png") no-repeat; background-size:contain;}
.ico.addfolder{width:24px;height:24px;background: url("../img/ic_addfolder_line_24.png") no-repeat; background-size: contain;}
.ico.addcoupon{width:24px;height:24px;background: url("../img/ic_addcoupon_line_24.png") no-repeat; background-size: contain;}

/*추가 이미지 2019-1-3*/
.ico.warning{width:18px; height:18px; background: url("../img/ic_warning_solid_20.png") no-repeat;  vertical-align: -2px;}

/*추가 이미지 2019-1-8*/
.ico.ico_dropdown16{margin-top:-5px;margin-left:4px;width:16px; height: 16px; background: url("../img/ic_dropdown_16_bl.png");background-size: cover;}
.ico.ico_dropdown16.gr{width:16px; height: 16px; background: url("../img/ic_dropdown_16.png");background-size: cover;}
.ico.gragh{width:24px;height:24px;background: url("../img/ic_viewgraph_n_24.png") no-repeat; }
.ico.gragh.blue{width:24px;height:24px;background: url("../img/ic_viewgraph_s_24.png") no-repeat; }
.ico.table{width:24px;height:24px;background: url("../img/ic_viewtable_n_24.png") no-repeat; }
.ico.table.blue{width:24px;height:24px;background: url("../img/ic_viewtable_s_24.png") no-repeat; }


/*추가이미지 2019-1-9*/
.ico.star_20{width:20px;height:20px;background: url("../img/ic_rate_solid_grey_20.png") no-repeat;}
.ico.star_20.gold{width:20px;height:20px;background: url("../img/ic_rate_solid_yellow_32.png") no-repeat; background-size: cover !important;}
.ico.star_30{width:30px;height:30px;background: url("../img/ic_rate_solid_grey_30.png") no-repeat;}
.ico.star_30.gold{width:30px;height:30px;background: url("../img/ic_rate_solid_yellow_32.png") no-repeat; background-size: cover !important;}

/*추가이미지 2019-1-11*/
.ico.close_20{width:20px; height:20px; background: url("../img/ic_close_line_20.png") ;background-size: cover;}
.ico.close_12{width:12px; height:12px; background: url("../img/ic_close_12.png") ;background-size: cover;}


/*추가이미지 2019-1-17*/
.ico.list-btn{width:24px; height:24px; background: url("../img/ic_listchange_24.png") ;background-size: cover;}
.ico.del{width:20px; height: 20px; background: url("../img/ic_deletemode_20.png");background-size: cover;}

.ico.test_32{width:32px; height:32px; background: url("../img/ic_test_line_32.png") no-repeat; margin-top:-4px; background-size: cover;}
.ico.bubble_32{width:32px; height:32px; background: url("../img/ic_bubble_line_32.png") no-repeat; margin-top:-4px; background-size: cover;}
.ico.thumb2_32{width:32px; height:32px; background: url("../img/ic_thumb_line_32.png") no-repeat; margin-top:-4px; background-size: cover;}
.ico.rate_32{width:32px; height:32px; background: url("../img/ic_rate_line_32.png") no-repeat; margin-top:-4px; background-size: cover;}
.ico.share_32{width:32px; height:32px; background: url("../img/ic_share_line_32.png") no-repeat; margin-top:-4px; background-size: cover;}
.ico.graph_32{width:32px; height:32px; background: url("../img/ic_graph_line_32.png") no-repeat; margin-top:-4px; background-size: cover;}
.ico.newfolder_32{width:32px; height:32px; background: url("../img/ic_newfolder_line_32.png") no-repeat; margin-top:-4px; background-size: cover;}
.ico.repair_32{width:32px; height:32px; background: url("../img/ic_repair_line_32.png") no-repeat; margin-top:-4px; background-size: cover;}
.ico.people_32{width:32px; height:32px; background: url("../img/ic_people_line_32.png") no-repeat; margin-top:-4px; background-size: cover;}
.ico.chart_32{width:32px; height:32px; background: url("../img/ic_chart_line_32.png") no-repeat; margin-top:-4px; background-size: cover;}

.ico.atorm_module_79{width:79px; height:79px; background: url("../img/ic_atorm_module.png") no-repeat; background-size: cover;}
.ico.atorm_class_79{width:79px; height:79px; background: url("../img/ic_atorm_class.png") no-repeat; background-size: cover;}
.ico.next_24{width:24px;height:24px;background: url("../img/ic_next_24.png") no-repeat; background-size: cover;}

.ico.trophy_64{width:64px; height:64px; background: url("../img/ic_trophy_solid.png") no-repeat; margin-top:-8px; background-size: cover;}
.ico.grade_64.gold{width:64px; height:64px; background: url("../img/ic_grade_gold.png") no-repeat; margin-top:-8px; background-size: cover;}
.ico.coin_64{width:64px; height:64px; background: url("../img/ic_coin_solid.png") no-repeat; margin-top:-8px; background-size: cover;}
.ico.check_14{width:14px; height:14px; background: url("../img/ic_complete_check_solid_blue_14.png") no-repeat; background-size: cover;}
.ico.check_14.wh{width:14px; height:14px; background: url("../img/ic_complete_check_solid_wh_14.png") no-repeat; background-size: cover;}
.ico.download_24{width:24px; height:24px; background: url("../img/ic_download_line_24.png") no-repeat; background-size: cover;}
.ico.complete_14{width:14px; height:14px; background: url("../img/ic_complete_blank_solid_14.png") no-repeat; background-size: cover;}
.ico.lock_16{width:16px; height:16px; background: url("../img/ic_lock_solid_16.png") no-repeat; background-size: cover;}
.ico.ongoing_16{width:14px; height:14px; background: url("../img/ic_ongoing_solid_blue_14.png") no-repeat; background-size: cover;}

.ico.atorm_photo_edit_solid_16{width:16px; height:16px; background: url("../img/ic_atorm_photo_edit_solid.png") no-repeat; background-size: cover;}

/* 추가이미지 2019-2-12 */
.ico.multiplechoice_32{width:32px; height:32px; background: url("../img/ic_multiplechoice.png") no-repeat; margin-top:-12px; background-size: cover;}
.ico.shortanswer_32{width:32px; height:32px; background: url("../img/ic_shortanswer.png") no-repeat; margin-top:-12px; background-size: cover;}
.ico.ox_32{width:32px; height:32px; background: url("../img/ic_ox.png") no-repeat; margin-top:-12px; background-size: cover;}
.ico.atorm_total_solid_32{width:32px; height:32px; background: url("../img/ic_atorm_total_solid.png") no-repeat; margin-top:-12px; background-size: cover;}
.ico.atorm_subjective_solid_32{width:32px; height:32px; background: url("../img/ic_atorm_subjective_solid.png") no-repeat; margin-top:-12px; background-size: cover;}
.ico.atorm_multiple_solid_32{width:32px; height:32px; background: url("../img/ic_atorm_multiple_solid.png") no-repeat; margin-top:-12px; background-size: cover;}

.ico.like_solid_32.blue{width:32px;height:32px;background: url("../img/ic_thumb_line_b_32.png") no-repeat; background-size:32px;}
.ico.book_28{width:28px;height:28px;background: url("../img/ic_book_line_28.png") no-repeat; background-size:32px;}
.ico.next_16.wh{width:16px;height:16px;background: url("../img/ic_next_wh_16.png") no-repeat; }
.ico.mark_line_24.blue{width:24px;height:24px;background: url("../img/ic_mark_line_b_24.png") no-repeat; }
.ico.mark_line_32{width:32px;height:32px;background: url("../img/ic_markv_line_32.png") no-repeat; }
.ico.mark_line_32.non{width:32px;height:32px;background: url("../img/ic_markx_line_32.png") no-repeat; }
.ico.note.blue{width:16px;height:16px;background: url("../img/ic_mynote_line_blue_16.png") no-repeat; }
.ico.ic_book_line_28{width:28px;height:28px;background: url("../img/ic_book_line_28.png") no-repeat; background-position:50% 50%; background-size:contain;}

/*ico study*/
.ic_set_line_28 {width:28px;height:28px;background: url("../img/ic_set_line_28.png") no-repeat; background-size:contain; } 
.play_40.blue{width:40px;height:40px;background: url("../img/ic_record_play_blue_40.png") no-repeat; }
.pause_40.blue{width:40px;height:40px;background: url("../img/ic_record_pause_blue_40.png") no-repeat; }
.set_line_28 {width:28px;height:28px;background: url("../img/ic_set_line_28.png") no-repeat; }
.set_line_wh_28 {width:28px;height:28px;background: url("../img/ic_set_line_wh_28.png") no-repeat; }
.ic_pen_line_24 { width:24px;height:24px;background: url("../img/ic_pen_line_24.png") no-repeat; background-position:50% 50%; background-size:contain; } 

.ic_attendace_line_24 { width:24px; height:24px; background: url("../img/ic_attendace_line_24.png") no-repeat; background-position:50% 50%; background-size:contain; } 
.ic_badge_line_bk_24 { width:24px; height:24px; background: url("../img/ic_badge_line_bk_24.png") no-repeat; background-position:50% 50%; background-size:contain; } 
.ico.ic_qr_blue_24 { width:24px; height:24px; background: url("../img/ic_qr_blue_24.png") no-repeat; background-position:50% 50%; background-size:contain; }

/* 추가이미지 2019-2-13 */
.ico.info_24.blue {width:24px;height:24px;background: url("../img/ic_info_blue_24.png") no-repeat; }
/* ico btn */
.btn.only .ico{display: block;}
.btn.only.trash .ico{width:20px; height:20px; background-position: -82px -64px;}
.btn.only.ok .ico{width:20px; height:20px; background-position: -223px -62px;}
.btn.only.del .ico{width:20px; height:20px; background-position: -48px -64px;}
.btn.only.quet .ico{width:16px; height:16px; background-position: -32px -190px;}

.btn.sm.add{text-align: center;}
.btn.sm.add .ico{width:8px; height:8px; margin:0 4px 3px 0; background-position: -120px -67px;}
.btn.staus_crl1 {color:#FF4141}



/* font-weight -> 500  */
.fwl{font-weight: 300 !important;}
.fwr{font-weight: 400 !important;}
.fwb{font-weight: 500 !important;}
.fwb600{font-weight: 600 !important;}
.fwb700{font-weight: 700 !important;}



/* scroll */
.scroll-n {overflow: hidden;}
.scroll-x{overflow: hidden; overflow-x: scroll; -webkit-overflow-scrolling:touch; white-space:nowrap;}
.scroll-x.type2{margin-right: -18px;}


/* Common */
.blind {overflow:hidden;  position:absolute; top:-9999em; left:-9999em; padding:0 !important; height:0; width:0; border:none !important; background:none !important; line-height:0 !important; text-indent:-9999px;}
.clearfix {width:100%; zoom:1;}
.clearfix:after {display:block; visibility:hidden; content:""; clear:both; height:0; }

.pr {position:relative;}
.dpn {display:none !important;}
.dpb {display:block !important;}
.dib {display:inline-block !important;}
.oh{overflow:hidden;}


/* align */
.fl {float:left !important;}
.fr {float:right !important;}
.fn {float:none !important;}
.cl {clear:both;}
.oh {overflow:hidden;}
.tal {text-align:left !important;}
.tar {text-align:right !important;}
.tac {text-align:center !important;}
.taj {text-align:justify;}
.vt {vertical-align:top !important;}
.vm {vertical-align:middle;}
.mac{margin:0 auto !important;}


/* width */
.w100p{width:100% !important;}
.w50p{width:50% !important;}
.w48p{width:48% !important;}


/* margin */
.mt-4{margin-top: -4px !important;}
.mt0{margin-top: 0px !important;}
.mt2{margin-top: 2px !important;}
.mt4{margin-top: 4px !important;}
.mt6{margin-top: 6px !important;}/*12월12일 추가*/ 
.mt8{margin-top: 8px !important;}/*12월12일 추가*/ 
.mt9{margin-top: 9px !important;}
.mt10{margin-top: 10px !important;}
.mt12{margin-top: 12px !important;}/*12월12일 추가*/
.mt14{margin-top: 14px !important;} 
.mt15{margin-top: 15px !important;}/*12월12일 추가*/
.mt16{margin-top: 16px !important;} 
.mt20{margin-top: 20px !important;}/*12월12일 추가*/ 
.mt22{margin-top: 22px !important;}/*12월19일 추가*/
.mt24{margin-top: 24px !important;}
.mt25{margin-top: 25px !important;}
.mt26{margin-top: 26px !important;}
.mt30{margin-top: 30px !important;}/*1월3일 추가*/
.mt34{margin-top: 34px !important;}
.mt35{margin-top: 35px !important;}
.mt36{margin-top: 36px !important;}
.mt38{margin-top: 38px !important;}
.mt40{margin-top: 40px !important;}
.mt42{margin-top: 42px !important;}
.mt45{margin-top: 45px !important;}
.mt48{margin-top: 48px !important;}
.mt54{margin-top: 54px !important;}
.mt70{margin-top: 70px !important;}/*12월12일 추가*/

.mb0{margin-bottom: 0px !important;}/*1월 3일 추가*/
.mb4{margin-bottom: 4px !important;}
.mb5{margin-bottom: 5px !important;}
.mb7{margin-bottom: 7px !important;}
.mb8{margin-bottom: 8px !important;}
.mb10{margin-bottom: 10px !important;}
.mb12{margin-bottom: 12px !important;}
.mb13{margin-bottom: 13px !important;}
.mb14{margin-bottom: 14px !important;}
.mb15{margin-bottom: 15px !important;}
.mb16{margin-bottom: 16px !important;}
.mb18{margin-bottom: 18px !important;}
.mb20{margin-bottom: 20px !important;}
.mb22{margin-bottom: 22px !important;}/*12월19일 추가*/
.mb24{margin-bottom: 24px !important;}
.mb26{margin-bottom: 26px !important;}
.mb25{margin-bottom: 25px !important;}
.mb28{margin-bottom: 28px !important;}/*12월14일 추가*/
.mb30{ margin-bottom: 30px !important;}/*1월 3일 추가*/
.mb32{margin-bottom: 32px !important;}
.mb40{margin-bottom: 40px !important;}
.mb42{margin-bottom: 42px !important;}
.mb58{margin-bottom: 58px !important;}/*12월12일 추가*/
.mb70{margin-bottom: 70px !important;}/*12월19일 추가*/

.ml2{margin-left: 2px !important;}
.ml5{margin-left: 5px !important;}
.ml6{margin-left: 6px !important;}
.ml10{margin-left: 10px !important;}
.ml12{margin-left: 12px !important;}
.ml20{margin-left: 20px !important;}
.ml38{margin-left: 38px !important;}

.mr2{margin-right: 2px !important;}
.mr3{margin-right: 3px !important;}
.mr4{margin-right: 4px !important;}/*1월 3일 추가*/
.mr6{margin-right: 6px !important;}/*1월 3일 추가*/
.mr8{margin-right: 8px !important;}
.mr10{margin-right: 10px !important;}
.mr15{margin-right: 15px !important;}
.mr20{margin-right: 20px !important;}
.mr30{margin-right: 30px !important;}
.mr40{margin-right: 40px !important;}

.ml-18 {margin-left:-18px !important;}
.mr-18 {margin-right:-18px !important;}

.pt0{padding-top: 0 !important;}
.pt8{padding-top:8px !important;}
.pt10{padding-top:10px !important;}
.pt18{padding-top:18px !important;}
.pdt16{padding-top: 16px !important;}
.pdt22{padding-top:22px !important;}
.pdt38{padding-top:38px !important;}

.pdb0{padding-bottom:0 !important;}
.pdb5{padding-bottom:5px !important;}
.pb10{padding-bottom:10px !important;}
.pdb12{padding-bottom: 12px !important;}
.pdb15{padding-bottom: 15px !important;}
.pb18{padding-bottom:18px !important;}
.pdb20{padding-bottom:20px !important;}
.pdb14{padding-bottom: 14px !important;}
.pdb25{padding-bottom: 25px !important;}
.pdb98{padding-bottom:98px !important;}

.pdl0{padding-left: 0 !important;}
.pdl4 {padding-left: 4px !important;}
.pdl6 {padding-left: 6px !important;}
.pl18 {padding-left:18px !important;}
.pl25 {padding-left:25px !important;}
.pdr4 {padding-right:4px !important;}
.pdr6 {padding-right:6px !important;}
.pdr8 {padding-right:4px !important;}
.pr18 {padding-right:18px !important;}

.pa0{padding:0px !important;}
.pa15{padding:15px !important;}
.pa25{padding:25px !important;}


/* hr */
.hr{height:8px; margin: 25px -24px; background:#f6f6f6;}
.hr_2{height:8px; margin: 25px -18px; background:#f6f6f6;}

/* link */
.link{display: inline-block;}
.link .ico.arr{width:10px; height: 10px; margin-left: 4px; background-position: -279px -67px;}


/* font-weight */
.font_regular {font-weight:400}