@charset "utf-8";

/* title */


/* icon */
.ico{display: inline-block; font-size:0; vertical-align: middle; background: url("../img/ico_com.png") no-repeat left top; background-size: auto 400px;}
.ico.star{width:10px; height: 10px; margin-right: 2px; vertical-align: inherit; background-position: -375px -67px;}
.ico.point{width:16px;height:16px;background: url("../img/ic_point_line_16.png") no-repeat; }
.ico.heart{width:16px;height:16px;background: url("../img/ic_heart_line_16.png") no-repeat; }
.ico.heart2{width:16px;height:16px;background: url("../img/ic_heart2_line.png") no-repeat; background-size:16px;}
.ico.search{width:16px;height:16px;background: url("../img/ic_search_solid_black.png") no-repeat; }
.ico.like{width:16px;height:16px;background: url("../img/ic_thumb_line_16.png") no-repeat; }
.ico.time{width:16px;height:16px;background: url("../img/ic_time_line_16.png") no-repeat; }
.ico.view{width:16px;height:16px;background: url("../img/ic_view_line_16.png") no-repeat; }
.ico.arrow{width:16px;height:16px;background: url("../img/ic_next_line_black.png") no-repeat; background-size: contain; }
.ico.gray_next{width:16px;height:16px;background: url("../img/ic_next.png") no-repeat; }
.ico.comment{width:20px;height:20px;background: url("../img/ic_bubble_line_20.png") no-repeat; }
.ico.next_16 {width:16px; height:16px; background: url("../img/ic_next_16.png") no-repeat;}
.ico.next_gray_16{width:16px; height:16px; background: url("../img/ic_next_line_gray_16.png") no-repeat; background-size:cover}

/* 추가이미지 2018-12-07 */
.ico.chk{width:20px;height:20px;background: url("../img/ic_submission_solid_20.png") no-repeat; }
.ico.more{width:20px;height:20px;background: url("../img/ic_moredots_20.png") no-repeat; }
.ico.arr.down{width:16px;height:16px;background: url("../img/ic_accordion_arr_16_down.png") no-repeat; }
.ico.arr.up{width:16px;height:16px;background: url("../img/ic_accordion_arr_line_16_up.png") no-repeat; }
.ico.like_32.blue{width:32px;height:32px;background: url("../img/ic_thumb_line_cblue_32.png") no-repeat; }
.ico.unlike_32{width:32px;height:32px;background: url("../img/ic_unlike_line_3.png") no-repeat; }
.ico.back{width:32px;height:32px;background: url("../img/ic_former_solid_32.png") no-repeat; }
.ico.next{width:32px;height:32px;background: url("../img/ic_next_solid_black_32.png") no-repeat; }

/* 추가이미지 2018-12-10*/

.ico.del-blue{width:16px;height:16px;background: url("../img/ic_blue_16.png") no-repeat; }
.ico.img-a{width:20px;height:20px;background: url("../img/ic_image_line_20.png") no-repeat; }
.ico.ppt-a{width:20px;height:20px;background: url("../img/ic_ppt_line_20.png") no-repeat; }
.ico.del-blk{width:20px;height:20px;background: url("../img/ic_close_bold_20.png") no-repeat; }
.ico.plus{width:16px;height:16px;background: url("../img/ic_plus_16.png") no-repeat; vertical-align: -2px; }
.ico.clip{width:16px;height:16px;background: url("../img/ic_addfile_16.png") no-repeat; }
.ico.down-load{width:20px;height:20px;background: url("../img/ic_download_20.png") no-repeat;  }


/* 추가 이미지 2018-12-12*/
.ico.play{width:16px;height:16px;background: url("../img/ic_play_line_16.png") no-repeat;  }
.ico.more28{width:28px;height:28px;background: url("../img/ic_moredots_28.png") no-repeat; }
.ico.o-blk{width:16px;height:16px;background: url("../img/ic_o_black.png") no-repeat; }
.ico.o-blue{width:16px;height:16px;background: url("../img/ic_o_blue.png") no-repeat; }
.ico.x-blk{width:16px;height:16px;background: url("../img/ic_x_black.png") no-repeat; }
.ico.x-blue{width:16px;height:16px;background: url("../img/ic_x_blue.png") no-repeat; }


/* 추가 이미지 2018-12-14*/
.ico2.prev-wh{width:28px;height:28px;background: url("../img/ic_pre_wh_28.png") no-repeat;  position: absolute;}
.ico.back-wh{width:32px;height:32px;background: url("../img/ic_former_solid_wh_32.png") no-repeat;  }
.ico.next-wh{width:32px;height:32px;background: url("../img/ic_next_solid_wh_32.png") no-repeat;  }
.ico.o-blk-48{width:48px;height:48px;background: url("../img/ic_o_48_n.png") no-repeat; }
.ico.o-blue-48{width:48px;height:48px;background: url("../img/ic_o_48_s.png") no-repeat; }
.ico.x-blk-48{width:48px;height:48px;background: url("../img/ic_x_48_n.png") no-repeat; }
.ico.x-blue-48{width:48px;height:48px;background: url("../img/ic_x_48_s.png") no-repeat; }
.ico.chk-blue{width:32px;height:32px;background: url("../img/ic_quizcheck_32_on.png") no-repeat; }
.ico.off-blk{width:32px;height:32px;background: url("../img/ic_radiobtn_32_off.png") no-repeat; }
.ico.mark-o{width:58px;height:58px;background: url("../img/ic_mark_o_large.png") no-repeat; }
.ico.mark-x{width:58px;height:58px;background: url("../img/ic_mark_x.png") no-repeat; }

/* main 추가 이미지 2018-12-17 */
.ico.info {width:28px; height:28px; background: url("../img/ic_info.png") no-repeat; background-size: 28px;}
.ico.grade_gold {width:25px;height:25px;background: url("../img/ic_grade_gold.png") no-repeat; background-size: 36px; background-position:center center;}
.ico.next_16_80 {width:16px; height:16px; background: url("../img/ic_next_16_80.png") no-repeat; background-size: 16px;}


#header.mainType2 .line2 .ico{vertical-align: top}

.ico2.like{width:20px;height:20px;background: url("../img/ic_thumb_line_20.png") no-repeat; }
.ico2.comment{width:20px;height:20px;background: url("../img/ic_bubble_line_20.png") no-repeat; }
.ico2.share{width:20px;height:20px;background: url("../img/ic_share_line_20.png") no-repeat; }
.ico2.reply{width:20px;height:20px;background: url("../img/ic_indent_20.png") no-repeat; }
.ico2.heart{width:20px;height:20px;background: url("../img/ic_heart_line_20.png") no-repeat; }

/* 추가 이미지 2018-12-19 */
.ico.like_32{width:32px; height:32px; background: url("../img/ic_thumb_line_3.png") no-repeat; margin-top:-6px }
.ico.like_32.red {background: url("../img/ic_thumb_line_red_32.png")}
.ico.like_solid_32{width:32px;height:32px;background: url("../img/ic_thumb_solid.png") no-repeat; background-size:32px;}
.ico.heart_solid_32{width:32px; height:32px; background: url("../img/ic_heart_solid.png") no-repeat; margin-top:-6px; background-size: 32px;}
.ico.heart_solid_bg_32{width:32px; height:32px; background: url("../img/ic_heart_solid_bg.png") no-repeat; margin-top:-6px; background-size: 32px;}
.ico.download_32{width:32px;height:32px;background: url("../img/ic_download.png") no-repeat; background-size:32px;}
.ico.pencil_16_blue {width:16px; height:16px; background: url("../img/ic_pencil_line_blue_16.png")}
.ico.check_16 {width:16px; height:16px; background: url("../img/ic_check_line_16.png")} /*추가 이미지 2019-1-4*/
.ico.check_16_blue {width:16px; height:16px; background: url("../img/ic_check_blue_16.png")}
.ico.test_24 {width:24px; height:24px; background: url("../img/ic_test_line_24.png")}
.ico.deletemode_20_black {width:20px; height:20px; background: url("../img/ic_deletemode_20_black.png")}

/* 추가 이미지 2018-12-21*/
.ico.mark-o.sm{width: 38px;height: 38px;position: absolute;background: url("../img/ic_mark_o_small.png") no-repeat;}
.ico.num-cir{width: 16px;height: 16px;position: absolute;background: url("../img/img_number_bg.png") no-repeat;}
.ico.agree{width: 16px;height: 16px;background: url("../img/ic_mychoice_agree.png") no-repeat;}
.ico.check_24_blue {width:24px; height:24px; background: url("../img/ic_check_line_blue_24.png") ;background-size: cover;}
.ico.close_24_black{width:24px; height:24px; background: url("../img/ic_close_line_24.png") ;background-size: cover;}

/* 추가 이미지 2018-12-24 merry christmas */
.ico.indent{width: 16px;height: 16px;background: url("../img/ic_indent_line_gray_16.png") no-repeat;}

/* 추가 이미지 2018-12-26*/
.ico.accordion_down{width:20px; height:20px; background: url("../img/ic_accordion_arr_line_20_down.png") no-repeat; }
.ico.accordion_up{width:20px; height:20px; background: url("../img/ic_accordion_arr_line_skyblue_20_up.png") no-repeat; }

/* 추가 이미지 2019-1-2*/
.ico.tel_18 {width:18px; height:18px; background: url("../img/ic_tel_18.png") no-repeat; }
.ico.qrcode_18 {width:18px; height:18px; background: url("../img/ic_qrcode_18.png") no-repeat; }

/* 추가 이미지 2019-1-3*/
.ico.down_blue_24{width:24px;height:24px;background: url("../img/ic_down_blue_24.png") no-repeat; background-size:cover;}
.ico.calender_blue_24{width:24px;height:24px;background: url("../img/ic_calender_line_blue_24.png") no-repeat; }
.ico.calender_24{width:24px;height:24px;background: url("../img/ic_up_line_24.png") no-repeat; }



/*추가 이미지 2019-1-3*/
.ico.warning{width:18px; height:18px; background: url("../img/ic_warning_solid_20.png") no-repeat;  vertical-align: -2px;}







/* ico btn */
.btn.only .ico{display: block;}
.btn.only.trash .ico{width:20px; height:20px; background-position: -82px -64px;}
.btn.only.ok .ico{width:20px; height:20px; background-position: -223px -62px;}
.btn.only.del .ico{width:20px; height:20px; background-position: -48px -64px;}
.btn.only.quet .ico{width:16px; height:16px; background-position: -32px -190px;}

.btn.sm.add{text-align: center;}
.btn.sm.add .ico{width:8px; height:8px; margin:0 4px 3px 0; background-position: -120px -67px;}
.btn.staus_crl1 {color:#FF4141}



/* font-weight -> 500  */
.fwl{font-weight: 300 !important;}
.fwr{font-weight: 400 !important;}
.fwb{font-weight: 500 !important;}
.fwb600{font-weight: 600 !important;}
.fwb700{font-weight: 700 !important;}



/* scroll */
.scroll-n {overflow: hidden;}
.scroll-x{overflow: hidden; overflow-x: scroll; -webkit-overflow-scrolling:touch; white-space:nowrap;}
.scroll-x.type2{margin-right: -18px;}


/* Common */
.blind {overflow:hidden;  position:absolute; top:-9999em; left:-9999em; padding:0 !important; height:0; width:0; border:none !important; background:none !important; line-height:0 !important; text-indent:-9999px;}
.clearfix {width:100%; zoom:1;}
.clearfix:after {display:block; visibility:hidden; content:""; clear:both; height:0; }

.pr {position:relative;}
.dpn {display:none !important;}
.dpb {display:block !important;}
.dib {display:inline-block !important;}
.oh{overflow:hidden;}


/* align */
.fl {float:left !important;}
.fr {float:right !important;}
.fn {float:none !important;}
.cl {clear:both;}
.oh {overflow:hidden;}
.tal {text-align:left !important;}
.tar {text-align:right !important;}
.tac {text-align:center !important;}
.taj {text-align:justify;}
.vt {vertical-align:top !important;}
.vm {vertical-align:middle;}


/* width */
.w100p{width:100%;}


/* margin */
.mt0{margin-top: 0px !important;}
.mt6{margin-top: 6px !important;}/*12월12일 추가*/ 
.mt8{margin-top: 8px !important;}/*12월12일 추가*/ 
.mt9{margin-top: 9px !important;}
.mt10{margin-top: 10px !important;}
.mt12{margin-top: 12px !important;}/*12월12일 추가*/ 
.mt20{margin-top: 20px !important;}/*12월12일 추가*/ 
.mt22{margin-top: 22px !important;}/*12월19일 추가*/
.mt24{margin-top: 24px !important;}
.mt25{margin-top: 25px !important;}
.mt26{margin-top: 26px !important;}
.mt30{margin-top: 30px !important;}/*1월3일 추가*/
.mt34{margin-top: 34px !important;}
.mt36{margin-top: 36px !important;}
.mt38{margin-top: 38px !important;}
.mt40{margin-top: 40px !important;}
.mt42{margin-top: 42px !important;}
.mt48{margin-top: 48px !important;}
.mt70{margin-top: 70px !important;}/*12월12일 추가*/

.mb0{margin-bottom: 0px !important;}/*1월 3일 추가*/
.mb20{margin-bottom: 20px !important;}
.mb22{margin-bottom: 22px !important;}/*12월19일 추가*/
.mb24{margin-bottom: 24px !important;}
.mb26{margin-bottom: 26px !important;}
.mb28{margin-bottom: 28px !important;}/*12월14일 추가*/
.mb30{ margin-bottom: 30px !important;}/*1월 3일 추가*/
.mb32{margin-bottom: 32px !important;}
.mb58{margin-bottom: 58px !important;}/*12월12일 추가*/
.mb70{margin-bottom: 70px !important;}/*12월19일 추가*/

.ml5{margin-left: 5px !important;}
.ml10{margin-left: 10px !important;}

.mr4{margin-right: 6px !important;}/*1월 3일 추가*/
.mr6{margin-right: 6px !important;}/*1월 3일 추가*/

.pdt22{padding-top:22px !important;}
.pdb98{padding-bottom:98px !important;}

/* hr */
.hr{height:8px; margin: 25px -24px; background:#f6f6f6;}


/* link */
.link{display: inline-block;}
.link .ico.arr{width:10px; height: 10px; margin-left: 4px; background-position: -279px -67px;}