@charset "utf-8";

/* ***** 로그인 ***** */
/* 스플레시 */
.splashWrap{position: relative; z-index: 0; height:100%; text-align:center; background: url("../img/login_splash_bg.png") no-repeat center bottom; background-size: cover;}
.splashWrap::after{display: block; content:''; width:100%; height:100%; background:rgba(0,0,0,0.3);}
.splashWrap .splashBox{position: absolute; top:182px; left:0; z-index: 1; width: 100%; text-align: center;}
.splashWrap .splashBox .in{display: inline-block; }
.splashWrap .splashBox h1 img{height:80px;}




/* 통합 회원가입 */
.joinTypeBox dt{font-size:18px; line-height: 27px; letter-spacing: -0.072px; padding-bottom: 6px; border-bottom:1px solid #d9d9d9;}
.joinTypeBox dd{color:#333; margin-top:16px;}
.joinTypeBox dd .point{font-size:10px; margin-top:4px;}
.joinTypeBox dl + dl{margin-top:52px;}
.joinTypeBox .btmBtn{margin-top:16px;}
.joinTypeBox .btmBtn .btn{width:100%;}

/* 스텝퍼라 추후 지워줘야함.*/
.joinProgBox{margin-bottom: 36px;}
.joinProgBox .tit{float: left; font-size: 16px; line-height: 24px; letter-spacing: -0.072em; font-weight: 500;}
.joinProgBox .num{float: right; display: inline-block; font-size: 16px; line-height: 24px; letter-spacing: -0.032em;}
.joinProgBox .num strong{display: inline-block; color:#5282ff; font-weight: 500; vertical-align: top;}
.joinProgBox .num span{font-weight: 500;}
.joinProgBox .progBox{position: relative; z-index: 1; height:4px; margin-top: 8px; border-radius: 10px; background: #f0f0f0; overflow: hidden;}
.joinProgBox .progBox .bar{position: absolute; left:0; top:0; z-index: 2; height: 100%; background: #5282ff;}
.joinProgBox .txt-desc{line-height: 18px; height:39px;}
/* 스텝퍼라 지워줘야함.*/

.certList li{position: relative; z-index: 1;}
.certList li .btn{display: block; line-height: 52px; padding:0 40px 0 19px; border:1px solid #d4d4d4;}
.certList li .btn .ico{position: absolute; top:50%; right:19px; width:8px; height:12px; margin-top:-6px; background-position: 0 -67px;}
.certList li + li{margin-top: 12px;}
.certList + .guideList{margin-top: 16px;}

.agreeAll .label{font-size:16px; letter-spacing: -0.072em; font-weight: 500;}
.agreeAll + .agreeList{margin-top: 18px;}
.agreeList{border-top:1px solid #bfbfbf;}
.agreeList li{ position: relative; z-index: 1; height:52px; padding:16px 0 15px; border-bottom:2px solid #eaeaea;}
.agreeList li > .labelChk{vertical-align: top;}
.agreeList li > .ico{position: absolute; top:50%; right:4px; width:16px; height:18px; margin-top:-9px; background-position: 5px -64px;}

.agreeCnt{line-height: 20px; letter-spacing: -0.063em;}
.agreeCnt .agree-tit{font-size:14px; font-weight: 500; margin-bottom: 8px;}
.agreeCnt .agree-txt{font-size:12px; color:#595959;}
.agreeCnt .agree-txt + .agree-tit{margin-top:20px;}

.infoChk{position: relative; font-size: 0; padding-right: 98px;}
.infoChk .btn{position: absolute; right:0; top:0; z-index: 1; width:90px;}
.infoChk2{position: relative; font-size: 0; padding-right: 98px;}
.infoChk2 .input{padding:0; border:0; border-bottom:1px solid #d9d9d9; background:#fff;}
.infoChk2 .btn{position: absolute; right:0; top:0; z-index: 1; width:90px;}

.rdoInfoChK{position: relative; padding-left:30px;}
.rdoInfoChK .labelRdo{position: absolute; left:0; top:11px; z-index: 1;}

.addrInt li + li{margin-top: 5px !important;}


.li-addList{margin-bottom: 8px; border-top:1px solid #bfbfbf;}
.li-addList li{position:relative;}
.li-addList li:first-child{margin-top:16px;}
.li-addList li+li{margin-top:20px !important;}
.li-addList .up{font-size:0;}
.li-addList .up select{width:49%;}
.li-addList .up select + select{margin-left:2%;}
.li-addList .input{margin-top:8px;}


.birthInt{font-size:0;}
.birthInt .select{width:32%;}
.birthInt .select + .select{margin-left:2%;}

.join-id{display: table; width:100%; padding-bottom: 15px; border-bottom:1px solid #bfbfbf;}
.join-id .label-tit{display: table-cell !important; font-size:15px !important; font-weight: 400 !important; line-height: 20px !important; letter-spacing: -0.068em; width:50px; margin-bottom: 0px !important;}
.join-id .label-txt{display: table-cell !important; font-size:16px; font-weight: 500; line-height: 20px; word-break: break-all;}

.join-id.type2{padding-bottom:0; border-bottom:0;}
.join-id.type2 + .txt-desc{margin-top: 4px;}

.join-idWrap{margin-bottom: 16px;}

/* 회원가입 완료 */
.joinComp-tit{margin-top: 45px;}
.joinComp-tit .tit{font-size:18px;}
.joinComp-tit .btn{font-size:13px; line-height: 27px;}
.joinComp-tit .btn .ico{width:8px; height: 11px; margin-left: 5px; background-position: -262px -67px;}

.joinComp-tbl{margin-top:8px; border-top:1px solid #000;}
.joinComp-tbl tr:first-child th,
.joinComp-tbl tr:first-child td{padding-top:15px;}
.joinComp-tbl th{font-size:13px; line-height: 20px; font-weight: 400; padding:8px 0 8px 0px; text-align:left;}
.joinComp-tbl td{font-size:14px; line-height: 20px; padding:8px 0 8px 0px; text-align:left;}


/* 통합 아이디 전환 */
.login_integr #container{padding-top:62px;}
.login_integr_sel{margin-top:43px;}
.login_integr_sel li + li{padding-top:28px; margin-top:28px; border-top:2px solid #ebebeb;}
.login_integr_sel li strong{display:block; font-size:19px; line-height: 28px; font-weight:400; letter-spacing: -0.057em;}
.login_integr_sel li > div{position:relative; font-size:13px; font-weight: 300; line-height: 20px; letter-spacing: -0.039em; padding-left:75px; margin-top:12px;}
.login_integr_sel li .ico{position:absolute; left:0; top:0; z-index:1; width:64px; height:64px}
.login_integr_sel li .ico1{background-position: 0 -104px;}
.login_integr_sel li .ico2{background-position: -73px -104px;}


/* 임시아이디 변경 */
.login_changeid dl{margin-top:32px;}
.login_changeid dl dt{font-size:16px; color:#1a1a1a; line-height: 24px; letter-spacing: -0.048px; font-weight: 500;}
.login_changeid dl dd{font-size:13px; color:#595959; line-height: 20px; letter-spacing: -0.039em; font-weight: 300; margin-top: 12px;}


/* 아이디/비밀번호 찾기 */
.resultBox{padding:24px; background:#f5f5f5;}
.resultBox li{font-size:15px; color:#21277c; line-height: 18px; letter-spacing: -0.045em; font-weight: 500;}
.resultBox li + li{margin-top: 10px;}

.emailChk {position: relative;}
.emailChk .time{position: absolute; right:12px; top:0px; display: block; font-size: 12px; color:#ff4141; font-weight: 500; line-height: 44px;}
.emailChk .input{padding-right: 60px;}
.emailChk .btn{font-size: 12px; color: #1a1a1a; line-height: 40px; letter-spacing: -0.036em; font-weight: 500; height: 40px; margin-top: 8px;}


/* notice */
.noticeRollWrap{height: 47px; border-bottom:1px solid #e3e3e3; overflow: hidden;}
.noticeRollWrap li{height: 47px; padding:0 14px 0 0; }

/*
// img err
.noticeRollWrap a{display:table; width:100%; height:100%; padding:12px 0px 12px 18px; background: url("../img/ico_arr.png") no-repeat center right; background-size: 16px;}
*/
.noticeRollWrap a > div{display: table-cell; font-size: 13px; letter-spacing: -0.039em; line-height: 20px; vertical-align: middle;}
.noticeRollWrap a span{display:inline-block; color:#21277c; font-weight:500; vertical-align: middle;}
.noticeRollWrap .txt1{width:110px;}
.noticeRollWrap .date{font-size: 11px; padding:0 8px; margin-right: 4px; border-radius: 60px; border:1px solid #21277c;}


/* 추천 */




#headerTab .tabWrap.type2 .tabMenu li a{font-weight:400p}



.keywordBox{font-size: 0; margin-bottom: 14px; margin-right:-18px;}
.keywordBox span{display: inline-block; font-size:12px; line-height:34px; padding:0 16px; vertical-align: middle; border-radius: 50px; background: #f5f5f5;}
.keywordBox span.on{color:#fff; background: #00adfb;}
.keywordBox span + span{margin-left: 8px;}

.imgBanBox{margin-bottom:22px}
.imgBanBox .slider > li{height:110px; background-size: cover; background-position: center; background-repeat: no-repeat;background-image:url("../img/imgBan_no.jpg");}

.gradeStateWrap {border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9;}
.gradeStateWrap .in{display: table; table-layout: fixed; width: 100%; }
.gradeStateWrap .col{display: table-cell; vertical-align: middle;}
.gradeStateWrap .col1{width: 126px; padding:15px 0 15px 30px;}
.gradeStateWrap .col1 .graph{width:96px; height: 96px;}
.gradeStateWrap .col2{width: auto; padding:15px 30px 15px 28px; }
.gradeStateWrap .col2 li + li{padding-top:5px; margin-top: 5px; border-top:1px solid #ebebeb;}
.gradeStateWrap .col2 li .tit{width:70px; }
.gradeStateWrap li{display: table; color: #333; line-height: 25px; width: 100%;}
.gradeStateWrap li .tit{display: table-cell; font-size: 14px; font-weight: 400; width:50%; vertical-align: middle;}
.gradeStateWrap li .txt{display: table-cell; font-size: 15px; text-align: right; vertical-align: middle;}
.gradeStateWrap li .txt em{display: inline-block; font-size: 22px; color: #000; font-weight: 500; margin-right: 3px; vertical-align: text-bottom;}
.gradeStateWrap .info{padding:20px 30px; background: #f6f6fa;}
.gradeStateWrap .info li{line-height: 20px;}
.gradeStateWrap .info li + li{margin-top: 8px;}
.gradeStateWrap .info li .txt{font-size:13px;}
.gradeStateWrap .info li .txt em{font-size:16px;}


.scrap-noData{display: table; width: 100%; border-top:2px solid #d9d9d9; border-bottom:2px solid #d9d9d9;}
.scrap-noData .in{display: table-cell; padding:20px; text-align:center; vertical-align: middle;}
.scrap-noData .txt1{font-size: 16px; color:#3b3b3b; font-weight: 500; line-height: 24px; letter-spacing: -0.048em;}
.scrap-noData .txt2{font-size: 14px; color:#9f9f9f; font-weight: 400; line-height: 20px; letter-spacing: -0.042em; margin-top: 2px; }
.scrap-noData .btnArea{margin-top: 14px;}


.enNotice{padding-top:0px;border-bottom:1px solid #e3e3e3;width:100%;padding: 0px 14px 0px 18px;line-height: 48px;}
.enNotice .enDay{display:inline-block;font-size:11px;line-height: 20px;letter-spacing: -0.33px;color:#21277c;border:1px solid #21277c; border-radius: 20px;width:38px;height:20px;text-align: center}
.enNotice .enState{display:inline-block;font-size:13px;line-height: 20px;letter-spacing: -0.39px;color:#21277c;padding-left:4px;}
.enNotice .enTitle{display:inline-block;font-size:13px;line-height: 20px;letter-spacing: -0.39px;color:#000;padding-left:10px;}
.enNotice .enIcon{display:inline-block;background-image:url("../img/ic_next_solid_black.png");background-size:16px;width:16px;height:16px;float:right;margin-top:17px;}


.b2cBanner{  margin: 0px -18px 18px -18px;}
.b2cBanner .slider > li{height:200px; background-size: cover; background-position: center; background-repeat: no-repeat;  background-image:url("../img/imgBan_no.jpg");}

.cardVcList{}
.cardVcList li{width: 100%;height: 75px;margin-bottom: 8px;padding: 23px 19px 25px 21px;background: #585858;font-size: 18px;color: #fff;line-height: 28px;}
.cardVcList li .cardTxt{}
.cardVcList li .icon.arrow{float:right;width:20px;height:20px;background: url("../img/ic_next_line_black.png") no-repeat;}