@charset "utf-8";

/* ***** 로그인 ***** */


/* 메인쪽 남아있음 */

/* B2b notice */
.noticeRollWrap{height: 47px; border-bottom:1px solid #e3e3e3; overflow: hidden;}
.noticeRollWrap li{height: 47px; padding:0 14px 0 0; }

.noticeRollWrap a > div{display: table-cell; font-size: 13px; letter-spacing: -0.039em; line-height: 20px; vertical-align: middle;}
.noticeRollWrap a span{display:inline-block; color:#21277c; font-weight:500; vertical-align: middle;}
.noticeRollWrap .txt1{width:110px;}
.noticeRollWrap .date{font-size: 11px; padding:0 8px; margin-right: 4px; border-radius: 60px; border:1px solid #21277c;}
#headerTab .tabWrap.type2 .tabMenu li a{font-weight:400}
.keywordBox{font-size: 0; margin-bottom: 14px; margin-right:-18px;}
.keywordBox span{display: inline-block; font-size:12px; line-height:34px; padding:0 16px; vertical-align: middle; border-radius: 50px; background: #f5f5f5;}
.keywordBox span.on{color:#fff; background: #00adfb;}
.keywordBox span + span{margin-left: 8px;}

.imgBanBox{margin-bottom:22px}
.imgBanBox .slider > li{height:110px; background-size: cover; background-position: center; background-repeat: no-repeat;background-image:url("../img/imgBan_no.jpg");}

.gradeStateWrap {border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9;}
.gradeStateWrap .in{display: table; table-layout: fixed; width: 100%; }
.gradeStateWrap .col{display: table-cell; vertical-align: middle;}
.gradeStateWrap .col1{width: 126px; padding:15px 0 15px 30px;}
.gradeStateWrap .col1 .graph{width:96px; height: 96px;}
.gradeStateWrap .col2{width: auto; padding:15px 30px 15px 28px; }
.gradeStateWrap .col2 li + li{padding-top:5px; margin-top: 5px; border-top:1px solid #ebebeb;}
.gradeStateWrap .col2 li .tit{width:70px; }
.gradeStateWrap li{display: table; color: #333; line-height: 25px; width: 100%;}
.gradeStateWrap li .tit{display: table-cell; font-size: 14px; font-weight: 400; width:50%; vertical-align: middle;}
.gradeStateWrap li .txt{display: table-cell; font-size: 15px; text-align: right; vertical-align: middle;}
.gradeStateWrap li .txt em{display: inline-block; font-size: 22px; color: #000; font-weight: 500; margin-right: 3px; vertical-align: text-bottom;}
.gradeStateWrap .info{padding:20px 30px; background: #f6f6fa;}
.gradeStateWrap .info li{line-height: 20px;}
.gradeStateWrap .info li + li{margin-top: 8px;}
.gradeStateWrap .info li .txt{font-size:13px;}
.gradeStateWrap .info li .txt em{font-size:16px;}


.scrap-noData{display: table; width: 100%; border-top:2px solid #d9d9d9; border-bottom:2px solid #d9d9d9;}
.scrap-noData .in{display: table-cell; padding:20px; text-align:center; vertical-align: middle;}
.scrap-noData .txt1{font-size: 16px; color:#3b3b3b; font-weight: 500; line-height: 24px; letter-spacing: -0.048em;}
.scrap-noData .txt2{font-size: 14px; color:#9f9f9f; font-weight: 400; line-height: 20px; letter-spacing: -0.042em; margin-top: 2px; }
.scrap-noData .btnArea{margin-top: 14px;}


.enNotice{padding-top:0px;border-bottom:1px solid #e3e3e3;width:100%;padding: 0px 14px 0px 18px;line-height: 48px;}
.enNotice .enDay{display:inline-block;font-size:11px;line-height: 20px;letter-spacing: -0.33px;color:#21277c;border:1px solid #21277c; border-radius: 20px;width:38px;height:20px;text-align: center}
.enNotice .enState{display:inline-block;font-size:13px;line-height: 20px;letter-spacing: -0.39px;color:#21277c;padding-left:4px;}
.enNotice .enTitle{display:inline-block;font-size:13px;line-height: 20px;letter-spacing: -0.39px;color:#000;padding-left:10px;}
.enNotice .enIcon{display:inline-block;background-image:url("../img/ic_next_solid_black.png");background-size:16px;width:16px;height:16px;float:right;margin-top:17px;}


.b2cBanner{  margin: 0px -18px 18px -18px;}
.b2cBanner .slider > li{height:200px; background-size: cover; background-position: center; background-repeat: no-repeat;  background-image:url("../img/imgBan_no.jpg");}

.cardVcList{}
.cardVcList li{width: 100%;height: 75px;margin-bottom: 8px;padding: 23px 19px 25px 21px;background: #585858;font-size: 18px;color: #fff;line-height: 28px;}
.cardVcList li .cardTxt{}
.cardVcList li .icon.arrow{float:right;width:20px;height:20px;background: url("../img/ic_next_line_black.png") no-repeat;}