@charset "utf-8";

/* common */
#wrap{height: 100%;}


/* layout */


/* header */
/* 
#header {height:56px; padding:15px 21px 0;}
#header .btn.prev .ico{width:28px; height:28px; background-position:-13px -61px;}
#header .btn.close .ico{width:24px; height:24px; background-position:-300px -62px;} 
*/

#header .header_title{position: absolute;top: 15px;left: 72px;font-size: 18px;line-height: 27px;letter-spacing: -0.054em;font-weight: 600;}
#header.fixed{position: fixed;width:100%;background:#fff;z-index: 10;}
#headerTab.fixed{position: fixed;width:100%;height:44px;line-height:43px;z-index: 10;top:56px}

.subType4 #header{border-bottom:1px solid #d9d9d9}

/* Expand header padding 0 */

#header.expandheader.fixed {height:56px;background:none;top:0px;}
#header.expandheader.fixed .header_top{height:56px;background: #fff;}
#header.expandheader.fixed .content{display:none;}

/* #header.expandheader ~ #container{overflow-y: scroll; height: calc(100% - 378px);padding-top:18px;    padding-bottom: 18px;} */
#header.expandheader.fixed ~ #container{margin-top:118px;overflow-y: scroll; height: calc(100% - 56px);padding-top:0px;    padding-bottom: 92px;}

#header.expandheader{height:378px; padding:0px;width:100%;background:#fff;z-index: 10;}
#header .header_top{height:92px;width:100%;position: relative;top:0px;left:0px;background:#efeff6}
#header.expandheader .btn{position: absolute;top: 15px;left: 21px;}
#header.expandheader .content{display:block;width:100%;height:241px;border-bottom:1px solid #eaeaea;position: relative;padding:30px 18px}
#header.expandheader .content .writer{font-size: 24px; line-height: 31px; font-weight: 500; letter-spacing: -0.024em; }
#header.expandheader .content .writer_aff{font-size: 12px; line-height: 31px; letter-spacing: -0.012em; color: #929292;margin-bottom:8px}
#header.expandheader .content .writer_info{font-size: 14px; line-height: 25px;  letter-spacing: -0.035em;margin-bottom:18px}
#header.expandheader .content .writer_info li{display:inline-block}
#header.expandheader .content .writer_info li+li{margin-left:5px}
#header.expandheader .content .writer_info li+li::before{display: inline-block;content: '';width: 1px;height: 11px;vertical-align: middle;margin-right: 5px;background: #e3e3e3;}
#header.expandheader .content .writer_introduce{font-size: 13px; line-height: 21px; letter-spacing: -0.039em; color: #929292;max-height:82px;}
#header.expandheader .content .writer_pic{width: 100px;height: 100px;position: absolute;right: 18px;top: -50px;border: 1px solid #d9d9d9;border-radius: 100px;background:#d9d9d9}


#header.expandheader .tabMenu{position: relative;display: table; width:100%; height:44px; margin:0 auto;position: relative; }
#header.expandheader .tabMenu li{display: table-cell; width:33.3%; height:100%;text-align: center; vertical-align: middle;}
#header.expandheader .tabMenu li.on{color: #000;margin-bottom: -1px;border:none;border-bottom: 2px solid #00adfb;}
#header,expandheader .tabMenu li a{display: inline-block; width:32px; height:32px;}

.mainType #header{position: fixed; top: 0; z-index: 30; width: 100%; min-width: 320px; height:57px; padding:0 18px; background: #21277c;}
.mainType #header .btn.allMenu{position: absolute; left:18px; top:17px; width:24px; height:24px; }
.mainType #header .btn.allMenu .ico{width:100%; height:100%; background-position: 0 -286px;}
.mainType #header .btn.allMenu .ico.new{position: absolute; right:-3px; top:-1px; width:10px; height:10px; border-radius: 10px; border:2px solid #21277c; background:#ff1414;}
.mainType #header .btnSch{position: absolute; right:18px; top:17px; width:24px; height:24px; }
.mainType #header .btnSch .ico{width:100%; height:100%; background-position: -338px -66px;}
.mainType #header .gnbMenu{display: table; width:70%; height:100%; margin:0 auto;}
.mainType #header .gnbMenu li{display: table-cell; width:33.3%; height:100%;text-align: center; vertical-align: middle;}
.mainType #header .gnbMenu li a{display: inline-block; width:32px; height:32px;}
.mainType #header .gnbMenu li .ico{width:100%; height:100%;}
.mainType #header .gnbMenu .m1 .ico{background-position:-32px -285px;}
.mainType #header .gnbMenu .m2 .ico{background-position:-64px -285px;}
.mainType #header .gnbMenu .m3 .ico{background-position:-96px -285px;}
.mainType #header .gnbMenu .m1.on .ico{background-position:-32px -325px;}
.mainType #header .gnbMenu .m2.on .ico{background-position:-64px -325px;}
.mainType #header .gnbMenu .m3.on .ico{background-position:-96px -325px;}
.mainType #container{padding:57px 0 0; }

.subType2 #header{position: relative;}
.subType2 #header .btn.prev{position: absolute; left:21px; top:15px; }
.subType2 #header .tit{font-size: 17px; line-height: 28px; font-weight: 500; letter-spacing: -0.051em; padding:0 0 0 44px;}

/* container */
/*
#container {position: relative; z-index: 1; padding:24px 24px 92px; overflow: hidden;}
#container.type2 {position: relative; z-index: 1; padding:24px;}
#container.type3 {position: relative; z-index: 1; padding:118px 18px 18px;}
#container.type4 {position: relative; z-index: 1; padding:74px 18px 18px;}
#container.type5 {position: relative; z-index: 1; padding:18px;}
.mainType1 #container .content{padding:18px;}
.mainType2 #container .content{padding:30px 18px 18px 18px; }
*/


/* footer */
#footer{}


/* aside */
.scroll-n{overflow:hidden;}
#all_menu{position:fixed; top:0; left:-100%; z-index:851; width:310px; height:100%; background:#fff;}
#all_menu .info{position:absolute; top:0; width:100%; height:98px;}
#all_menu .inner{height:100%; padding:98px 0 0; background:#e6e6e6; box-shadow:inset -1px 1px 1px #bebebe; -webkit-box-shadow:inset -1px 1px 1px #bebebe;}
#all_menu .inner > .cnt{width:100%; height:100%; padding:10px; overflow-y:scroll; -webkit-overflow-scrolling:touch;}
#all_menu .inner .sev{ overflow:hidden; border-radius:6px; box-shadow: 0px 1px 1px #c3c3c3; -webkit-box-shadow: 0px 1px 1px #c3c3c3;}
#all_menu .close{position:absolute; top:18px; right:20px; font-size:0; line-height:0; width:19px; height:18px; background-position: -381px -148px;}
#all_dim{display:none; position:fixed; z-index:850; top:0; bottom:0; left:0; right:0; background-color:#000; opacity:0.8; filter:alpha(opacity=80);}
